@(baseUrl: String, repositoryInfo: RepositoryService.RepositoryInfo, labels: List[Label], user: Option[User] = None)
@import helper._
@views.html.helper.main(baseUrl, repositoryInfo, user, false, 1){
<div id="issues_next">
<div class="tabnav tabnav-issues">
    <div class="tabnav-right">
        <div class="tabnav-widget selected">
            <a href="#" class="button minibutton primary selected bigger js-new-issue-button" style="cursor:default">New Issue</a>
        </div>
    </div>

    <ul class="tabnav-tabs">
        <li><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues" class="tabnav-tab ">Browse Issues</a></li>
        <li><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/milestones" class="tabnav-tab ">Milestones</a></li>
    </ul>
</div>

<style type="text/css" media="screen">
    span.labelstyle-e11d21, .linked-labelstyle-e11d21 {  background-color: #e11d21 !important;  color: #fff !important;}.labelstyle-e11d21.selected {  background-color: #e11d21 !important;  color: #fff !important;}.label-select-menu .labelstyle-e11d21.selected {  background:rgba(225, 29, 33, 0.12) !important;  color: #991316 !important;}

    span.labelstyle-eb6420, .linked-labelstyle-eb6420 {  background-color: #eb6420 !important;  color: #fff !important;}.labelstyle-eb6420.selected {  background-color: #eb6420 !important;  color: #fff !important;}.label-select-menu .labelstyle-eb6420.selected {  background:rgba(235, 100, 32, 0.12) !important;  color: #994114 !important;}

    span.labelstyle-fbca04, .linked-labelstyle-fbca04 {  background-color: #fbca04 !important;  color: #332900 !important;}.labelstyle-fbca04.selected {  background-color: #fbca04 !important;  color: #332900 !important;}.label-select-menu .labelstyle-fbca04.selected {  background:rgba(251, 202, 4, 0.12) !important;  color: #997b02 !important;}

    span.labelstyle-009800, .linked-labelstyle-009800 {  background-color: #009800 !important;  color: #fff !important;}.labelstyle-009800.selected {  background-color: #009800 !important;  color: #fff !important;}.label-select-menu .labelstyle-009800.selected {  background:rgba(0, 152, 0, 0.12) !important;  color: #009900 !important;}

    span.labelstyle-006b75, .linked-labelstyle-006b75 {  background-color: #006b75 !important;  color: #fff !important;}.labelstyle-006b75.selected {  background-color: #006b75 !important;  color: #fff !important;}.label-select-menu .labelstyle-006b75.selected {  background:rgba(0, 107, 117, 0.12) !important;  color: #008b99 !important;}

    span.labelstyle-207de5, .linked-labelstyle-207de5 {  background-color: #207de5 !important;  color: #fff !important;}.labelstyle-207de5.selected {  background-color: #207de5 !important;  color: #fff !important;}.label-select-menu .labelstyle-207de5.selected {  background:rgba(32, 125, 229, 0.12) !important;  color: #155399 !important;}

    span.labelstyle-0052cc, .linked-labelstyle-0052cc {  background-color: #0052cc !important;  color: #fff !important;}.labelstyle-0052cc.selected {  background-color: #0052cc !important;  color: #fff !important;}.label-select-menu .labelstyle-0052cc.selected {  background:rgba(0, 82, 204, 0.12) !important;  color: #003d99 !important;}

    span.labelstyle-5319e7, .linked-labelstyle-5319e7 {  background-color: #5319e7 !important;  color: #fff !important;}.labelstyle-5319e7.selected {  background-color: #5319e7 !important;  color: #fff !important;}.label-select-menu .labelstyle-5319e7.selected {  background:rgba(83, 25, 231, 0.12) !important;  color: #361099 !important;}

    span.labelstyle-f7c6c7, .linked-labelstyle-f7c6c7 {  background-color: #f7c6c7 !important;  color: #332829 !important;}.labelstyle-f7c6c7.selected {  background-color: #f7c6c7 !important;  color: #332829 !important;}.label-select-menu .labelstyle-f7c6c7.selected {  background:rgba(247, 198, 199, 0.12) !important;  color: #997a7b !important;}

    span.labelstyle-fad8c7, .linked-labelstyle-fad8c7 {  background-color: #fad8c7 !important;  color: #332c28 !important;}.labelstyle-fad8c7.selected {  background-color: #fad8c7 !important;  color: #332c28 !important;}.label-select-menu .labelstyle-fad8c7.selected {  background:rgba(250, 216, 199, 0.12) !important;  color: #988479 !important;}

    span.labelstyle-fef2c0, .linked-labelstyle-fef2c0 {  background-color: #fef2c0 !important;  color: #333026 !important;}.labelstyle-fef2c0.selected {  background-color: #fef2c0 !important;  color: #333026 !important;}.label-select-menu .labelstyle-fef2c0.selected {  background:rgba(254, 242, 192, 0.12) !important;  color: #989173 !important;}

    span.labelstyle-bfe5bf, .linked-labelstyle-bfe5bf {  background-color: #bfe5bf !important;  color: #2a332a !important;}.labelstyle-bfe5bf.selected {  background-color: #bfe5bf !important;  color: #2a332a !important;}.label-select-menu .labelstyle-bfe5bf.selected {  background:rgba(191, 229, 191, 0.12) !important;  color: #7f997f !important;}

    span.labelstyle-bfdadc, .linked-labelstyle-bfdadc {  background-color: #bfdadc !important;  color: #2c3233 !important;}.labelstyle-bfdadc.selected {  background-color: #bfdadc !important;  color: #2c3233 !important;}.label-select-menu .labelstyle-bfdadc.selected {  background:rgba(191, 218, 220, 0.12) !important;  color: #849799 !important;}

    span.labelstyle-c7def8, .linked-labelstyle-c7def8 {  background-color: #c7def8 !important;  color: #282d33 !important;}.labelstyle-c7def8.selected {  background-color: #c7def8 !important;  color: #282d33 !important;}.label-select-menu .labelstyle-c7def8.selected {  background:rgba(199, 222, 248, 0.12) !important;  color: #7a8898 !important;}

    span.labelstyle-bfd4f2, .linked-labelstyle-bfd4f2 {  background-color: #bfd4f2 !important;  color: #282c33 !important;}.labelstyle-bfd4f2.selected {  background-color: #bfd4f2 !important;  color: #282c33 !important;}.label-select-menu .labelstyle-bfd4f2.selected {  background:rgba(191, 212, 242, 0.12) !important;  color: #788699 !important;}

    span.labelstyle-d4c5f9, .linked-labelstyle-d4c5f9 {  background-color: #d4c5f9 !important;  color: #2b2833 !important;}.labelstyle-d4c5f9.selected {  background-color: #d4c5f9 !important;  color: #2b2833 !important;}.label-select-menu .labelstyle-d4c5f9.selected {  background:rgba(212, 197, 249, 0.12) !important;  color: #827999 !important;}

    span.labelstyle-fc2929, .linked-labelstyle-fc2929 {  background-color: #fc2929 !important;  color: #fff !important;}.labelstyle-fc2929.selected {  background-color: #fc2929 !important;  color: #fff !important;}.label-select-menu .labelstyle-fc2929.selected {  background:rgba(252, 41, 41, 0.12) !important;  color: #991818 !important;}

    span.labelstyle-cccccc, .linked-labelstyle-cccccc {  background-color: #cccccc !important;  color: #333333 !important;}.labelstyle-cccccc.selected {  background-color: #cccccc !important;  color: #333333 !important;}.label-select-menu .labelstyle-cccccc.selected {  background:rgba(204, 204, 204, 0.12) !important;  color: #999999 !important;}

    span.labelstyle-84b6eb, .linked-labelstyle-84b6eb {  background-color: #84b6eb !important;  color: #1c2733 !important;}.labelstyle-84b6eb.selected {  background-color: #84b6eb !important;  color: #1c2733 !important;}.label-select-menu .labelstyle-84b6eb.selected {  background:rgba(132, 182, 235, 0.12) !important;  color: #557699 !important;}

    span.labelstyle-e6e6e6, .linked-labelstyle-e6e6e6 {  background-color: #e6e6e6 !important;  color: #333333 !important;}.labelstyle-e6e6e6.selected {  background-color: #e6e6e6 !important;  color: #333333 !important;}.label-select-menu .labelstyle-e6e6e6.selected {  background:rgba(230, 230, 230, 0.12) !important;  color: #999999 !important;}

    span.labelstyle-cc317c, .linked-labelstyle-cc317c {  background-color: #cc317c !important;  color: #fff !important;}.labelstyle-cc317c.selected {  background-color: #cc317c !important;  color: #fff !important;}.label-select-menu .labelstyle-cc317c.selected {  background:rgba(204, 49, 124, 0.12) !important;  color: #99245c !important;}

    span.labelstyle-ffffff, .linked-labelstyle-ffffff {  background-color: #ffffff !important;  color: #333333 !important;}.labelstyle-ffffff.selected {  background-color: #ffffff !important;  color: #333333 !important;}.label-select-menu .labelstyle-ffffff.selected {  background:rgba(255, 255, 255, 0.12) !important;  color: #999999 !important;}
</style>

@helper.form(action = routes.IssuesController.doCreate(repositoryInfo.owner, repositoryInfo.name), 'class -> "js-new-issue-form") {
<div style="margin:0;padding:0;display:inline">
    <input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk=">
</div>
<div class="columns discussion-timeline-cols">
<div class="column main">


<div class="discussion-bubble composer">
<a href="/@repositoryInfo.owner">
    <img alt="miaoqi shen" class="discussion-bubble-avatar js-avatar" data-user="687580" height="48" src="https://0.gravatar.com/avatar/574f047760ff87f6aefebdfa40eeb07a?d=https%3A%2F%2Fidenticons.github.com%2Ffdeed6355bac156322c8b90d9e90400b.png&amp;r=x&amp;s=140" width="48">
</a>

<div class="discussion-bubble-content bubble">
<div class="discussion-bubble-inner">

<div class="discussion-topic">


<div class="discussion-topic-header">
    <dl class="form">
        <div class="fieldWithErrors">
            <label class="hidden" for="issue_title">Title</label>
        </div>
        <dd>
            <div class="fieldWithErrors">
                <input autofocus="autofocus" class="input-large required title js-auto-save" id="issue_title" name="title" placeholder="Title" required="required" size="30" tabindex="1" type="text">
            </div>
        </dd>
    </dl>
</div> <!-- /.topic-comment-header -->


<div class="composer-infobar js-infobar">

    <div class="assignee infobar-widget">
      <span class="css-truncate text js-assignee-infobar-item-wrapper">
          No one is assigned
      </span>


        <div class="select-menu js-menu-container js-select-menu js-composer-assignee-picker ">
        <span class="minibutton select-menu-button icon-only js-menu-target" role="button" aria-label="Assign someone to this issue" aria-haspopup="true">
          <span class="octicon octicon-gear"></span>
        </span>

            <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                <div class="select-menu-modal">
                    <div class="select-menu-header">
                        <span class="select-menu-title">Assign someone to this issue</span>
                        <span class="octicon octicon-remove-close js-menu-close"></span>
                    </div> <!-- /.select-menu-header -->



                    <div class="select-menu-error-shell">
                        <span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span>
                    </div>

                    <div class="select-menu-filters">
                        <div class="select-menu-text-filter">
                            <input type="text" id="assignee-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter people" aria-label="Type or choose a name">
                        </div>
                    </div> <!-- /.select-menu-filters -->


                    <div class="select-menu-list">

                        <div class="select-menu-clear-item select-menu-item js-navigation-item js-clear-assignee js-no-current-assignee" role="button" aria-label="Clear assignee">
                            <input name="issue[assignee]" type="radio" value="">
                            <span class="select-menu-item-icon octicon octicon-remove-close"></span>
                            <div class="select-menu-item-text">Clear assignee</div>
                        </div> <!-- /.select-menu-item -->

                        <div data-filterable-for="assignee-filter-field" data-filterable-type="fuzzy" role="menu">
                            <div class="select-menu-item js-navigation-item" role="menuitem">
                                <input name="issue[assignee]" type="radio" value="@repositoryInfo.owner">
                                <span class="select-menu-item-icon octicon octicon-check"></span>

                                <div class="select-menu-item-gravatar js-select-menu-item-gravatar">
                                    <span class="avatar">
                                        <img alt="miaoqi shen" class=" js-avatar" data-user="687580" height="20" src="https://0.gravatar.com/avatar/574f047760ff87f6aefebdfa40eeb07a?d=https%3A%2F%2Fidenticons.github.com%2Ffdeed6355bac156322c8b90d9e90400b.png&amp;r=x&amp;s=140" width="20">
                                    </span>
                                </div>

                                <div class="select-menu-item-text">
                                    <h4>@repositoryInfo.owner <span class="description">miaoqi shen</span></h4>
                                </div>
                            </div>



                        </div>

                        <div class="select-menu-no-results">Nothing to show</div>

                    </div> <!-- /.select-menu-list -->




                </div> <!-- /.select-menu-modal -->
            </div> <!-- /.select-menu-modal-holder -->
        </div> <!-- /.select-menu -->

    </div>

    <div class="milestone infobar-widget">
      <span class="css-truncate text js-composer-milestone-title">
          No milestone
      </span>

        <div class="select-menu js-menu-container js-select-menu js-composer-milestone-picker">
        <span class="minibutton select-menu-button icon-only js-menu-target" role="button" aria-label="Set milestone" aria-haspopup="true">
          <span class="octicon octicon-gear"></span>
        </span>

            <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                <div class="select-menu-modal">
                    <div class="select-menu-header">
                        <span class="select-menu-title">Set milestone</span>
                        <span class="octicon octicon-remove-close js-menu-close"></span>
                    </div> <!-- /.select-menu-header -->



                    <div class="select-menu-error-shell"><span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span></div>

                    <div class="select-menu-filters">
                        <div class="select-menu-text-filter">
                            <input type="text" id="context-milestone-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter milestones" autocomplete="off">
                        </div>
                        <div class="select-menu-tabs">
                            <ul>
                                <li class="select-menu-tab">
                                    <a href="#" data-tab-filter="tab-open" class="js-select-menu-tab">Open</a>
                                </li>
                                <li class="select-menu-tab">
                                    <a href="#" data-tab-filter="tab-closed" class="js-select-menu-tab">Closed</a>
                                </li>
                            </ul>
                        </div><!-- /.select-menu-tabs -->
                    </div><!-- /.select-menu-filters -->

                    <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tab-open">

                        <div class="select-menu-clear-item select-menu-item js-navigation-item js-clear-milestone">
                            <input id="milestone_clear" name="milestone" type="radio" value="clear">
                            <span class="select-menu-item-icon octicon octicon-remove-close"></span>
                            <div class="select-menu-item-text">Clear this milestone</div>
                        </div> <!-- /.select-menu-item -->

                        <div data-filterable-for="context-milestone-filter-field" data-filterable-type="substring" role="menu">

                        </div>

                        <div class="select-menu-item select-menu-new-item-form js-navigation-item js-new-item-form">
                            <input type="radio" name="milestone" value="new">
                            <input type="hidden" class="js-new-item-value" name="milestone_title">

                            <span class="octicon octicon-milestone select-menu-item-icon"></span>
                            <div class="select-menu-item-text">
                                <h4>Create and assign to new milestone:</h4>
                                <span class="description js-new-item-name js-milestone-title"></span>
                            </div>
                        </div>

                        <div class="select-menu-no-results">Nothing to show</div>
                    </div> <!-- /.select-menu-list -->

                    <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tab-closed">

                        <div data-filterable-for="context-milestone-filter-field" data-filterable-type="substring" role="menu">

                        </div>

                        <div class="select-menu-no-results">Nothing to show</div>
                    </div> <!-- /.select-menu-list -->


                    <div class="fieldWithErrors">
                        <input id="issue_milestone_id" name="milestoneId" type="hidden">
                    </div>
                    <input id="new_milestone_title" name="new_milestone_title" type="hidden">
                </div> <!-- /.select-menu-modal -->
            </div> <!-- /.select-menu-modal-holder -->
        </div> <!-- /.select-menu -->

    </div>
</div>


<div class="comment-content">

    <dl class="form body">
        <dd>
            <div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="/preview?repository=16544892">
                <div class="comment-form-head tabnav">
                    <ul class="tabnav-tabs">
                        <li><a href="#write_bucket_" class="tabnav-tab write-tab js-write-tab selected">Write</a></li>
                        <li><a href="#preview_bucket_" class="tabnav-tab preview-tab js-preview-tab">Preview</a></li>
                    </ul>
                    <span class="tabnav-right">
                      <span class="tabnav-widget text">Comments are parsed with <a href="https://help.github.com/articles/github-flavored-markdown" class="gfm-help" target="_blank">GitHub Flavored Markdown</a></span>
                    </span>
                </div>

                <div class="comment-form-error js-comment-form-error" style="display:none">    There was an error creating your Issue:
                </div>
                <div id="write_bucket_" class="write-content js-write-bucket js-uploadable-container upload-enabled is-default" data-model="assets">

                    <a href="#fullscreen_issue_body" class="enable-fullscreen js-enable-fullscreen tooltipped tooltipped-w " aria-label="Zen Mode" original-title="">
                        <span class="octicon octicon-screen-full"></span>
                    </a>
                    <textarea name="body" tabindex="1" id="issue_body" placeholder="Leave a comment" class="comment-form-textarea js-comment-field js-size-to-fit js-quote-selection-target input-with-fullscreen-icon" data-suggester="_new_preview_suggester"></textarea>


                    <p class="drag-and-drop">
                        <span class="default">
                            Attach images by dragging &amp; dropping,
                            <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
                            <a class="manual-file-chooser-text" href="#">selecting them</a>, or pasting
                            from the clipboard.
                        </span>
                        <span class="loading">
                          <img alt="Octocat-spinner-32" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16"> Uploading your images…
                        </span>
                        <span class="error bad-file">
                          Unfortunately we don't support that file type yet. Please use PNG, GIF, or JPG.
                        </span>
                        <span class="error too-big">
                          Yowza, that's a big file. Please submit an image file smaller than 5MB.
                        </span>
                        <span class="error bad-browser">
                          This browser doesn't support image attachments.
                        </span>
                        <span class="error failed-request">
                          Something went really wrong and we can't process that image.
                        </span>
                    </p>

                </div>
                <div id="preview_bucket_" class="preview-content js-preview-bucket">


                    <div id="openstruct-69982692706340" class="comment js-comment js-task-list-container" data-body-version="">

                        <div class="comment-content">

                            <div class="edit-comment-hide">
                                <div class="comment-body markdown-body  js-comment-body">
                                    <p>Nothing to preview</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


                <div class="suggester-container">
                    <div class="suggester js-navigation-container" id="_new_preview_suggester" data-url="/@repositoryInfo.owner/@repositoryInfo.name/suggestions/issue">
                    </div>
                </div>
            </div>

        </dd>
    </dl>

</div> <!-- /.comment-content -->
</div> <!-- /.comment -->
</div> <!-- /.discussion-bubble-content -->
</div> <!-- /.discussion-bubble-inner -->

<div class="form-actions">
    <button type="submit" class="button primary" tabindex="1" data-disable-invalid="" data-disable-with="" >
        Submit new issue
    </button>
</div>

</div> <!-- /.discussion-bubble -->

</div>
<div class="column sidebar">

    <h3>Add Labels</h3>
    <ul class="js-composer-labels color-label-list filter-list small">
        @labels.map { label =>
        <li data-name="bug">
            <a href="#" class="filter-item color-label labelstyle-@label.color">

                <input style="display: none" type="checkbox" value="@label.labelId" id="issue_labels_bug" name="labels[]">
                <span class="color" style="background-color: #@label.color">&nbsp;</span>
                <span class="name">@label.labelName</span>
            </a>
        </li>
        }
    </ul>

</div>
</div>
}
</div>
}
