@(baseUrl: String, currentUrl: String, repositoryInfo: RepositoryService.RepositoryInfo, collaborators: List[String], issue: Issue, comments: List[IssueComment],currentLabels: List[IssueLabel], labels: List[Label], selectIndex: Int, user: Option[User] = None)
@import helper._
@views.html.helper.main(baseUrl, repositoryInfo, user, false, 1){
<div id="issues_next">
<style type="text/css" media="screen">
    span.labelstyle-e11d21, .linked-labelstyle-e11d21 {  background-color: #e11d21 !important;  color: #fff !important;}.labelstyle-e11d21.selected {  background-color: #e11d21 !important;  color: #fff !important;}.label-select-menu .labelstyle-e11d21.selected {  background:rgba(225, 29, 33, 0.12) !important;  color: #991316 !important;}

    span.labelstyle-eb6420, .linked-labelstyle-eb6420 {  background-color: #eb6420 !important;  color: #fff !important;}.labelstyle-eb6420.selected {  background-color: #eb6420 !important;  color: #fff !important;}.label-select-menu .labelstyle-eb6420.selected {  background:rgba(235, 100, 32, 0.12) !important;  color: #994114 !important;}

    span.labelstyle-fbca04, .linked-labelstyle-fbca04 {  background-color: #fbca04 !important;  color: #332900 !important;}.labelstyle-fbca04.selected {  background-color: #fbca04 !important;  color: #332900 !important;}.label-select-menu .labelstyle-fbca04.selected {  background:rgba(251, 202, 4, 0.12) !important;  color: #997b02 !important;}

    span.labelstyle-009800, .linked-labelstyle-009800 {  background-color: #009800 !important;  color: #fff !important;}.labelstyle-009800.selected {  background-color: #009800 !important;  color: #fff !important;}.label-select-menu .labelstyle-009800.selected {  background:rgba(0, 152, 0, 0.12) !important;  color: #009900 !important;}

    span.labelstyle-006b75, .linked-labelstyle-006b75 {  background-color: #006b75 !important;  color: #fff !important;}.labelstyle-006b75.selected {  background-color: #006b75 !important;  color: #fff !important;}.label-select-menu .labelstyle-006b75.selected {  background:rgba(0, 107, 117, 0.12) !important;  color: #008b99 !important;}

    span.labelstyle-207de5, .linked-labelstyle-207de5 {  background-color: #207de5 !important;  color: #fff !important;}.labelstyle-207de5.selected {  background-color: #207de5 !important;  color: #fff !important;}.label-select-menu .labelstyle-207de5.selected {  background:rgba(32, 125, 229, 0.12) !important;  color: #155399 !important;}

    span.labelstyle-0052cc, .linked-labelstyle-0052cc {  background-color: #0052cc !important;  color: #fff !important;}.labelstyle-0052cc.selected {  background-color: #0052cc !important;  color: #fff !important;}.label-select-menu .labelstyle-0052cc.selected {  background:rgba(0, 82, 204, 0.12) !important;  color: #003d99 !important;}

    span.labelstyle-5319e7, .linked-labelstyle-5319e7 {  background-color: #5319e7 !important;  color: #fff !important;}.labelstyle-5319e7.selected {  background-color: #5319e7 !important;  color: #fff !important;}.label-select-menu .labelstyle-5319e7.selected {  background:rgba(83, 25, 231, 0.12) !important;  color: #361099 !important;}

    span.labelstyle-f7c6c7, .linked-labelstyle-f7c6c7 {  background-color: #f7c6c7 !important;  color: #332829 !important;}.labelstyle-f7c6c7.selected {  background-color: #f7c6c7 !important;  color: #332829 !important;}.label-select-menu .labelstyle-f7c6c7.selected {  background:rgba(247, 198, 199, 0.12) !important;  color: #997a7b !important;}

    span.labelstyle-fad8c7, .linked-labelstyle-fad8c7 {  background-color: #fad8c7 !important;  color: #332c28 !important;}.labelstyle-fad8c7.selected {  background-color: #fad8c7 !important;  color: #332c28 !important;}.label-select-menu .labelstyle-fad8c7.selected {  background:rgba(250, 216, 199, 0.12) !important;  color: #988479 !important;}

    span.labelstyle-fef2c0, .linked-labelstyle-fef2c0 {  background-color: #fef2c0 !important;  color: #333026 !important;}.labelstyle-fef2c0.selected {  background-color: #fef2c0 !important;  color: #333026 !important;}.label-select-menu .labelstyle-fef2c0.selected {  background:rgba(254, 242, 192, 0.12) !important;  color: #989173 !important;}

    span.labelstyle-bfe5bf, .linked-labelstyle-bfe5bf {  background-color: #bfe5bf !important;  color: #2a332a !important;}.labelstyle-bfe5bf.selected {  background-color: #bfe5bf !important;  color: #2a332a !important;}.label-select-menu .labelstyle-bfe5bf.selected {  background:rgba(191, 229, 191, 0.12) !important;  color: #7f997f !important;}

    span.labelstyle-bfdadc, .linked-labelstyle-bfdadc {  background-color: #bfdadc !important;  color: #2c3233 !important;}.labelstyle-bfdadc.selected {  background-color: #bfdadc !important;  color: #2c3233 !important;}.label-select-menu .labelstyle-bfdadc.selected {  background:rgba(191, 218, 220, 0.12) !important;  color: #849799 !important;}

    span.labelstyle-c7def8, .linked-labelstyle-c7def8 {  background-color: #c7def8 !important;  color: #282d33 !important;}.labelstyle-c7def8.selected {  background-color: #c7def8 !important;  color: #282d33 !important;}.label-select-menu .labelstyle-c7def8.selected {  background:rgba(199, 222, 248, 0.12) !important;  color: #7a8898 !important;}

    span.labelstyle-bfd4f2, .linked-labelstyle-bfd4f2 {  background-color: #bfd4f2 !important;  color: #282c33 !important;}.labelstyle-bfd4f2.selected {  background-color: #bfd4f2 !important;  color: #282c33 !important;}.label-select-menu .labelstyle-bfd4f2.selected {  background:rgba(191, 212, 242, 0.12) !important;  color: #788699 !important;}

    span.labelstyle-d4c5f9, .linked-labelstyle-d4c5f9 {  background-color: #d4c5f9 !important;  color: #2b2833 !important;}.labelstyle-d4c5f9.selected {  background-color: #d4c5f9 !important;  color: #2b2833 !important;}.label-select-menu .labelstyle-d4c5f9.selected {  background:rgba(212, 197, 249, 0.12) !important;  color: #827999 !important;}

    span.labelstyle-fc2929, .linked-labelstyle-fc2929 {  background-color: #fc2929 !important;  color: #fff !important;}.labelstyle-fc2929.selected {  background-color: #fc2929 !important;  color: #fff !important;}.label-select-menu .labelstyle-fc2929.selected {  background:rgba(252, 41, 41, 0.12) !important;  color: #991818 !important;}

    span.labelstyle-cccccc, .linked-labelstyle-cccccc {  background-color: #cccccc !important;  color: #333333 !important;}.labelstyle-cccccc.selected {  background-color: #cccccc !important;  color: #333333 !important;}.label-select-menu .labelstyle-cccccc.selected {  background:rgba(204, 204, 204, 0.12) !important;  color: #999999 !important;}

    span.labelstyle-84b6eb, .linked-labelstyle-84b6eb {  background-color: #84b6eb !important;  color: #1c2733 !important;}.labelstyle-84b6eb.selected {  background-color: #84b6eb !important;  color: #1c2733 !important;}.label-select-menu .labelstyle-84b6eb.selected {  background:rgba(132, 182, 235, 0.12) !important;  color: #557699 !important;}

    span.labelstyle-e6e6e6, .linked-labelstyle-e6e6e6 {  background-color: #e6e6e6 !important;  color: #333333 !important;}.labelstyle-e6e6e6.selected {  background-color: #e6e6e6 !important;  color: #333333 !important;}.label-select-menu .labelstyle-e6e6e6.selected {  background:rgba(230, 230, 230, 0.12) !important;  color: #999999 !important;}

    span.labelstyle-cc317c, .linked-labelstyle-cc317c {  background-color: #cc317c !important;  color: #fff !important;}.labelstyle-cc317c.selected {  background-color: #cc317c !important;  color: #fff !important;}.label-select-menu .labelstyle-cc317c.selected {  background:rgba(204, 49, 124, 0.12) !important;  color: #99245c !important;}

    span.labelstyle-ffffff, .linked-labelstyle-ffffff {  background-color: #ffffff !important;  color: #333333 !important;}.labelstyle-ffffff.selected {  background-color: #ffffff !important;  color: #333333 !important;}.label-select-menu .labelstyle-ffffff.selected {  background:rgba(255, 255, 255, 0.12) !important;  color: #999999 !important;}
</style>
    <div id="show_issue" class="js-issues-results">
        <div id="js-discussion-header" class="gh-header js-details-container js-socket-channel js-updatable-content js-issue-header issue"
             data-channel="@repositoryInfo.owner/@repositoryInfo.name:issue:27571573"
             data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/345/show_partial?partial=title">
            <div class="gh-header-show">
                <div class="gh-header-actions">
                    <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/new" class="minibutton primary js-new-issue-button" data-hotkey="c">
                        New issue
                    </a>
                </div>

                <a class="gh-header-back js-history-back" href="https://github.com/@repositoryInfo.owner/@repositoryInfo.name/issues?state=open" data-hotkey="u" title="Back to Issue list">
                    <span class="mega-octicon octicon-chevron-left"></span>
                </a>

                <h1 class="gh-header-title">
                    <span class="js-issue-title">@issue.title</span>
                    <span class="gh-header-number">#@issue.issueId</span>
                </h1>
            </div>


            <div class="gh-header-meta">
                @if(issue.closed) {
                <div class="gh-header-status closed">
                    <span class="octicon octicon-issue-closed"></span>
                    Closed
                </div>
                } else {
                <div class="gh-header-status open">
                    <span class="octicon octicon-issue-opened"></span>
                    Open
                </div>
                }
                <a href="/@issue.openedUserName" class="author">@issue.openedUserName</a> opened this
                <span class="noun">Issue</span>
                <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="@issue.registeredDate" title="2014-02-14 11:25:10">11 days ago</time>
                · 0 comments
            </div>
        </div>
        <div id="discussion_bucket" class="tab-content">
            <div class="discussion-sidebar">
                <div id="js-discussion-stats" class="discussion-stats js-socket-channel js-updatable-content"
                     data-channel="@repositoryInfo.owner/@repositoryInfo.name:issue:27571573"
                     data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/345/show_partial?partial=discussion_stats">
                </div>
                <div class="discussion-sidebar-item sidebar-labels">
                    <div class="select-menu label-select-menu js-issue-show-label-select-menu js-menu-container js-select-menu" 
                         data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels/modify_assignment" data-multiple="">
                        <span class="button-link icon-only select-menu-button js-menu-target">
                            <span class="octicon octicon-gear"></span>
                        </span>

                        <form accept-charset="UTF-8" action="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels/modify_assignment" method="post">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="_method" type="hidden" value="put">
                                <input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk=">
                            </div>
                            <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
                                <div class="select-menu-modal">
                                    <div class="select-menu-header">
                                        <span class="select-menu-title">Apply labels to this issue</span>
                                        <span class="octicon octicon-remove-close js-menu-close"></span>
                                    </div> <!-- /.select-menu-header -->

                                    <div class="select-menu-error-shell">
                                        <span class="select-menu-error js-select-menu-error">Whoops, there was an error</span>
                                    </div>

                                    <div class="select-menu-filters">
                                        <div class="select-menu-text-filter">
                                            <input type="text" id="label-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter labels" autocomplete="off">
                                        </div>
                                    </div> <!-- /.select-menu-filters -->

                                    <div class="select-menu-list" data-filterable-for="label-filter-field" data-filterable-type="substring">
                                        @labels.map { label =>
                                            @if(currentLabels.iterator.filter(_.labelName == label.labelName).size == 0) {
                                        <div class="select-menu-item js-navigation-item labelstyle-@label.color ">
                                            <span class="select-menu-item-icon octicon octicon-check"></span>
                                            <div class="select-menu-item-text">
                                                <div class="color-label-wrapper">
                                                    <div data-name="@label.labelName" class="color-label labelstyle-@label.color">
                                                        <input style="display: none" type="checkbox" value="@label.labelName" name="labels[]">
                                                        <span class="color" style="background-color: #@label.color"></span>
                                                        <span class="name">@label.labelName</span>
                                                        <span class="octicon octicon-remove-close"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- /.select-menu-item -->
                                            } else {
                                        <div class="select-menu-item js-navigation-item labelstyle-@label.color selected">
                                            <span class="select-menu-item-icon octicon octicon-check"></span>
                                            <div class="select-menu-item-text">
                                                <div class="color-label-wrapper">
                                                    <div data-name="@label.labelName" class="color-label labelstyle-@label.color">
                                                        <input style="display: none" type="checkbox" value="@label.labelName" name="labels[]" checked="true">
                                                        <span class="color" style="background-color: #@label.color"></span>
                                                        <span class="name">@label.labelName</span>
                                                        <span class="octicon octicon-remove-close"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- /.select-menu-item -->
                                            }
                                        }


                                    </div> <!-- /.select-menu-list -->

                                    <div class="select-menu-no-results js-not-filterable">Nothing to show</div>


                                    <div class="select-menu-loading-overlay">Loading…</div>
                                </div> <!-- /.select-menu-modal -->
                            </div> <!-- /.select-menu-modal-holder -->

                            <input type="hidden" class="js-issue-number" name="issueId" value="@issue.issueId">
                        </form>
                    </div>
                    <h3 class="discussion-sidebar-heading">Labels</h3>
                    <div class="labels css-truncate js-timeline-label-list">@currentLabels.map {currentLabel =>@labels.iterator.filter( _.labelName == currentLabel.labelName).map { label =><span class="label css-truncate-target labelstyle-@label.color" title="@label.labelName">@label.labelName</span>}}</div>
                </div>
                <div class="discussion-sidebar-item sidebar-milestone">
                    <div class="select-menu js-menu-container js-select-menu js-milestone-picker is-showing-clear-item is-loading"
                         data-contents-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/345/show_partial?partial=milestone_select_menu">
                        <h3 class="discussion-sidebar-heading">
                            Milestone
                        </h3>
                    </div> <!-- /.select-menu -->
                    <span class="js-milestone-infobar-item-wrapper">
                        <span class="text-muted">No milestone</span>
                    </span>
                </div>
                <div class="discussion-sidebar-item sidebar-assignee">
                    <div class="select-menu js-menu-container js-select-menu js-assignee-picker js-assignee-picker-next @if(issue.assignedUserName.isDefined) {is-showing-clear-item }" data-contents-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/345/show_partial?partial=assignee_select_menu">
                        <span class="button-link icon-only select-menu-button js-menu-target" role="button" aria-label="Assign someone to this issue" aria-haspopup="true">
                            <span class="octicon octicon-gear"></span>
                        </span>
                        <h3 class="discussion-sidebar-heading">
                            Assignee
                        </h3>
                        <div class="select-menu-modal-holder js-menu-content js-navigation-container js-active-navigation-container" aria-hidden="false">
                            <div class="select-menu-modal">
                                <div class="select-menu-header">
                                    <span class="select-menu-title">Assign someone to this issue</span>
                                    <span class="octicon octicon-remove-close js-menu-close"></span>
                                </div> <!-- /.select-menu-header -->

                                <div class="select-menu-error-shell">
                                    <span class="select-menu-error js-select-menu-error">Whoops, there was an error</span>
                                </div>
                                <div class="select-menu-error-shell"><span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span></div>

                                <div class="select-menu-filters">
                                    <div class="select-menu-text-filter">
                                        <input type="text" id="assignee-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter people" aria-label="Type or choose a name">
                                    </div>
                                </div> <!-- /.select-menu-filters -->

                                <form accept-charset="UTF-8" action="/@repositoryInfo.owner/@repositoryInfo.name/issues/@issue.issueId" class="edit_issue" id="edit_assignee_28307954" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>

                                    <div class="select-menu-list">

                                        <div class="select-menu-clear-item select-menu-item js-navigation-item js-clear-assignee js-no-current-assignee navigation-focus" role="button" aria-label="Clear assignee">
                                            <input name="assignedUserName" type="radio" value="">
                                            <span class="select-menu-item-icon octicon octicon-remove-close"></span>
                                            <div class="select-menu-item-text">Clear assignee</div>
                                        </div> <!-- /.select-menu-item -->

                                        <div data-filterable-for="assignee-filter-field" data-filterable-type="fuzzy" role="menu">
                                            @collaborators.map {collaborator =>
                                            <div class="select-menu-item js-navigation-item last-visible @if(collaborator == issue.assignedUserName.getOrElse("")) {selected }" role="menuitem">
                                                <input name="assignedUserName" type="radio" value="@collaborator" @if(collaborator == issue.assignedUserName.getOrElse("")) { checked="checked" } >
                                                <span class="select-menu-item-icon octicon octicon-check"></span>

                                                <div class="select-menu-item-gravatar js-select-menu-item-gravatar">
                                                    <span class="avatar"><img alt="miaoqi shen" class=" js-avatar" data-user="687580" height="20" src="https://avatars.githubusercontent.com/u/687580" width="20"></span>
                                                </div>

                                                <div class="select-menu-item-text">
                                                    <h4>@collaborator<span class="description"></span></h4>
                                                </div>
                                            </div>
                                            }

                                        </div>

                                        <div class="select-menu-no-results">Nothing to show</div>

                                    </div> <!-- /.select-menu-list -->


                                </form>
                                <div class="select-menu-loading-overlay">Loading…</div>
                            </div> <!-- /.select-menu-modal -->
                        </div>

                    </div> <!-- /.select-menu -->
                    @if(issue.assignedUserName.isDefined && !issue.assignedUserName.get.isEmpty) {
                    <p class="css-truncate js-assignee-infobar-item-wrapper">
                        <span class="avatar"><img alt="miaoqi shen" class=" js-avatar" data-user="687580" height="20" src="https://avatars.githubusercontent.com/u/687580" width="20"></span>
                        <a href="/@issue.assignedUserName.get" class="assignee css-truncate-target">@issue.assignedUserName.get</a>
                    </p>
                    } else {
                    <p class="css-truncate js-assignee-infobar-item-wrapper">
                        <span class="text-muted">No one assigned</span>
                    </p>
                    }
                </div>


                <div class="discussion-sidebar-item sidebar-notifications">
                    <h3 class="discussion-sidebar-heading">Notifications</h3>
                    <div class="thread-subscription-status js-thread-subscription-status js-socket-channel js-updatable-content"
                         data-channel="@repositoryInfo.owner/@repositoryInfo.name:thread-subscription:27571573:@repositoryInfo.owner"
                         data-url="/notifications/thread_subscription?repository_id=1062237&amp;thread_class=Issue&amp;thread_id=27571573">

                        <span class="mega-octicon octicon-radio-tower"></span>

                        <span class="tooltipped tooltipped-w thread-subscription-help hidden" aria-label="You only receive notifications for this thread when you participate or are @@mentioned." original-title=""><span class="octicon octicon-question"></span></span>

                        <form accept-charset="UTF-8" action="/notifications/thread" class="thread-subscribe-form" data-remote="true" method="post">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk=">
                            </div>
                            <input type="hidden" name="repository_id" value="1062237">
                            <input type="hidden" name="thread_id" value="27571573">
                            <input type="hidden" name="thread_class" value="Issue">
                            <input type="hidden" name="id" value="subscribe">

                            <button class="minibutton" type="submit" data-disable-with="">
                                <span class="octicon octicon-eye-watch"></span>
                                Subscribe
                            </button>
                        </form>
                        <p class="reason">You only receive notifications for this thread when you participate or are @@mentioned.</p>
                    </div>


                </div>

                <div class="discussion-sidebar-item">
                    <!--

                    <div id="js-users-participants" class="js-socket-channel js-updatable-content" data-channel="@repositoryInfo.owner/@repositoryInfo.name:issue:27571573" data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/345/show_partial?partial=participants">
                        <div class="pull-participation">

                            <h3 class="discussion-sidebar-heading">
                                1 participant
                            </h3>
                            <div class="pull-participation-avatars">
                                <a class="avatar tooltipped tooltipped-s" aria-label="felipellrocha" href="/felipellrocha" original-title=""><img alt="Felipe Rocha" class=" js-avatar" data-user="366457" height="20" src="https://0.gravatar.com/avatar/6a9b11c53cb80e788dfb35fc87813921?d=https%3A%2F%2Fidenticons.github.com%2F041c00b582746b9deb32b59ac9ac3211.png&amp;r=x&amp;s=140" width="20"></a>
                            </div>
                        </div>
                    </div>

                    <div id="pr_contributors_box" style="display:none">
                        <h2 class="facebox-header">People participating in this issue</h2>
                        <ul class="facebox-user-list">
                            <li class="facebox-user-list-item">
                                <img alt="Felipe Rocha" class=" js-avatar" data-user="366457" height="24"
                                     src="" width="24">
                                <a href="/felipellrocha">felipellrocha</a>
                            </li>
                        </ul>
                    </div>
                    -->

                </div>

            </div>
            <div class="discussion-timeline js-quote-selection-container">
                <div class="js-discussion">
                    <div class="timeline-comment-wrapper js-comment-container">
                        <a href="/@issue.openedUserName">
                            <img alt="Felipe Rocha" class="timeline-comment-avatar js-avatar" data-user="366457" height="48"
                                 src="" width="48">
                        </a>

                        <div class="timeline-comment timeline-comment-">
                            <div id="issue-@issue.issueId" class="comment js-comment js-task-list-container" data-body-version="250e71b36e2613c5a7cc01873d8e99fe">
                                <div class="timeline-comment-header ">
                                    <div class="timeline-comment-header-text">
                                        <strong>
                                            <a href="/@issue.openedUserName" class="author">@issue.openedUserName</a>
                                        </strong>
                                        commented
                                        <a href="#issue-27571573" class="timestamp">
                                            <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="2014-02-13T19:25:10-08:00" title="2014-02-14 11:25:10">11 days ago</time>
                                        </a>

                                    </div>
                                </div>

                                <div class="comment-content">

                                    <div class="edit-comment-hide">
                                        <div class="comment-body markdown-body markdown-format js-comment-body">
                                            @issue.content
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    @comments.map {comment =>
                        @if(!comment.content.isEmpty) {
                            <div class="timeline-comment-wrapper js-comment-container">
                                <a href="/@comment.commentedUserName">
                                    <img alt="Felipe Rocha" class="timeline-comment-avatar js-avatar" data-user="366457" height="48"
                                         src="" width="48">
                                </a>

                                <div class="timeline-comment timeline-comment-">
                                    <div id="issuecomment-@comment.commentId" class="comment js-comment js-task-list-container" data-body-version="250e71b36e2613c5a7cc01873d8e99fe">
                                        <div class="timeline-comment-header ">
                                            <div class="timeline-comment-header-text">
                                                <strong>
                                                    <a href="/@issue.openedUserName" class="author">@comment.commentedUserName</a>
                                                </strong>
                                                commented
                                                <a href="#issue-27571573" class="timestamp">
                                                    <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="2014-02-13T19:25:10-08:00" title="2014-02-14 11:25:10">11 days ago</time>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="comment-content">

                                            <div class="edit-comment-hide">
                                                <div class="comment-body markdown-body markdown-format js-comment-body">
                                                    @comment.content
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        @comment.action.map { action =>
                            @if(action == "reopen") {
                                <div class="discussion-item discussion-event discussion-event-status-reopened">
                                    <div class="discussion-item-body">
                                        <span class="octicon octicon-primitive-dot discussion-item-icon"></span>
                                        <img alt="@comment.commentedUserName" class="avatar js-avatar" data-user="687580" height="16" src="https://avatars.githubusercontent.com/u/687580" width="16">
                                        <a href="/@comment.commentedUserName" class="author">@comment.commentedUserName</a>
                                        reopened the issue
                                        <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="2014-02-25T17:32:21-08:00" title="2014-02-26 09:32:21">6 minutes ago</time>
                                    </div>
                                </div>
                            }
                            @if(action == "close") {
                                <div class="discussion-item discussion-event discussion-event-status-closed">
                                    <div class="discussion-item-body">
                                        <span class="octicon octicon-circle-slash discussion-item-icon"></span>
                                        <img alt="@comment.commentedUserName" class="avatar js-avatar" data-user="687580" height="16" src="https://avatars.githubusercontent.com/u/687580" width="16">
                                        <a href="/@comment.commentedUserName" class="author">@comment.commentedUserName</a>
                                        closed the issue

                                        <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="2014-02-25T17:33:02-08:00" title="2014-02-26 09:33:02">6 minutes ago</time>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>

                <div class="discussion-timeline-actions">


                    <div class="timeline-comment-wrapper timeline-new-comment js-comment-container">
                        <a href="/@repositoryInfo.owner"><img alt="miaoqi shen" class="timeline-comment-avatar js-avatar" data-user="687580" height="48" src="https://0.gravatar.com/avatar/574f047760ff87f6aefebdfa40eeb07a?d=https%3A%2F%2Fidenticons.github.com%2Ffdeed6355bac156322c8b90d9e90400b.png&amp;r=x&amp;s=140" width="48"></a>

                        <form accept-charset="UTF-8" action="/@repositoryInfo.owner/@repositoryInfo.name/issue_comments" class="js-new-comment-form" data-remote="true" data-type="json" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>
                            <div class="timeline-comment">
                                <input type="hidden" name="issueId" value="@issue.issueId">


                                <div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="/preview?repository=1062237">
                                    <div class="comment-form-head tabnav">
                                        <ul class="tabnav-tabs">
                                            <li><a href="#write_bucket_797" class="tabnav-tab write-tab js-write-tab selected">Write</a></li>
                                            <li><a href="#preview_bucket_797" class="tabnav-tab preview-tab js-preview-tab">Preview</a></li>
                                        </ul>
                                        <span class="tabnav-right">
                                          <span class="tabnav-widget text">Comments are parsed with <a href="https://help.github.com/articles/github-flavored-markdown" class="gfm-help" target="_blank">GitHub Flavored Markdown</a></span>
                                        </span>
                                    </div>

                                    <div class="comment-form-error js-comment-form-error" style="display:none">    There was an error creating your Issue:
                                    </div>
                                    <div id="write_bucket_797" class="write-content js-write-bucket js-uploadable-container upload-enabled is-default" data-model="assets">

                                        <a href="#fullscreen_comment_body_797" class="enable-fullscreen js-enable-fullscreen tooltipped tooltipped-w " aria-label="Zen Mode" original-title="">
                                            <span class="octicon octicon-screen-full"></span>
                                        </a>

                                        <textarea name="content" tabindex="1" id="comment_body_797" placeholder="Leave a comment" class="comment-form-textarea js-comment-field js-size-to-fit js-quote-selection-target input-with-fullscreen-icon" data-suggester="797_new_preview_suggester"></textarea>


                                        <p class="drag-and-drop">
                                            <span class="default">
                                                Attach images by dragging &amp; dropping,
                                                <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
                                                <a class="manual-file-chooser-text" href="#">selecting them</a>, or pasting
                                                from the clipboard.
                                            </span>
                                            <span class="loading">
                                              <img alt="Octocat-spinner-32" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16"> Uploading your images…
                                            </span>
                                            <span class="error bad-file">
                                              Unfortunately we don't support that file type yet. Please use PNG, GIF, or JPG.
                                            </span>
                                            <span class="error too-big">
                                              Yowza, that's a big file. Please submit an image file smaller than 5MB.
                                            </span>
                                            <span class="error bad-browser">
                                              This browser doesn't support image attachments.
                                            </span>
                                            <span class="error failed-request">
                                              Something went really wrong and we can't process that image.
                                            </span>
                                        </p>

                                    </div>
                                    <div id="preview_bucket_797" class="preview-content js-preview-bucket">


                                        <div id="openstruct-70316592012860" class="comment js-comment js-task-list-container" data-body-version="">

                                            <div class="comment-content">

                                                <div class="edit-comment-hide">
                                                    <div class="comment-body markdown-body  js-comment-body">
                                                        <p>Nothing to preview</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>


                                    <div class="suggester-container">
                                        <div class="suggester js-navigation-container" id="797_new_preview_suggester" data-url="/@repositoryInfo.owner/@repositoryInfo.name/suggestions/issue/27571573">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">

                                    <div id="js-new-comment-form-actions" class="js-socket-channel js-updatable-content" data-channel="@repositoryInfo.owner/@repositoryInfo.name:issue:27571573:state" data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/345/show_partial?partial=form_actions">
                                        @if(issue.closed) {
                                        <button type="submit" name="action" value="reopen" class="button js-comment-and-button" data-original-text="Close" data-comment-text="Reopen &amp; Comment" tabindex="3" data-disable-with="">
                                            Reopen
                                        </button>
                                        } else {
                                        <button type="submit" name="action" value="close" class="button js-comment-and-button" data-original-text="Close" data-comment-text="Close &amp; Comment" tabindex="3" data-disable-with="">
                                            Close
                                        </button>
                                        }
                                        <button type="submit" class="button primary" tabindex="2" data-disable-with="">
                                            Comment
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form></div>

                </div>
            </div>
        </div>
    </div>
</div>
}
