@(baseUrl: String, currentUrl: String, repositoryInfo: RepositoryService.RepositoryInfo, issues: List[Issue], selectIndex: Int, user: Option[User] = None, labels: String = "")
@import helper._
@views.html.helper.main(baseUrl, repositoryInfo, user){
<div class="tabnav tabnav-issues">
    <div class="tabnav-right">
        <div class="tabnav-widget ">
            <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/new" class="button minibutton primary bigger js-new-issue-button" data-hotkey="c">New Issue</a>
        </div>
    </div>

    <ul class="tabnav-tabs">
        <li><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues" class="tabnav-tab selected">Browse Issues</a></li>
        <li><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/milestones" class="tabnav-tab ">Milestones</a></li>
    </ul>
</div>
<div id="issues_list" class="js-issues-results columns browser" data-pjax-container="" data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues">
    <div class="column sidebar issues-list-sidebar js-issue-sidebar">
        <ul class="filter-list js-pjax-active" data-pjax="">
            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues?state=open" class="filter-item @if(selectIndex == 0){ selected }">
                    <span class="count">0</span> Everyone’s Issues
                </a>
            </li>
            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/assigned/@repositoryInfo.owner?state=open" class="filter-item @if(selectIndex == 1){ selected }">
                    <span class="count">0</span> Assigned to you
                </a>
            </li>

            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/created_by/@repositoryInfo.owner?state=open" class="filter-item @if(selectIndex == 2){ selected }">
                    <span class="count">0</span> Created by you
                </a>
            </li>

            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/mentioned/@repositoryInfo.owner?state=open" class="filter-item @if(selectIndex == 3){ selected }">
                    <span class="count">0</span> Mentioning you
                </a>
            </li>
        </ul>

        <div class="rule"></div>

        <div class="sidebar-milestone-widget" data-milestone="">
            <div class="select-menu is-showing-clear-item js-menu-container js-select-menu">
              <span class="minibutton select-menu-button icon-only js-menu-target">
                <span class="octicon octicon-gear"></span>
              </span>

              <div class="select-menu-modal-holder js-menu-content js-milestone-issue-filter js-navigation-container js-select-menu-pane" data-pjax="">
                  <div class="select-menu-modal">
                      <div class="select-menu-header">
                          <span class="select-menu-title">Filter issues by milestone</span>
                          <span class="octicon octicon-remove-close js-menu-close"></span>
                      </div> <!-- /.select-menu-header -->

                      <div class="select-menu-filters">
                          <div class="select-menu-text-filter">
                              <input type="text" id="issues-list-sidebar-milestones-filter" class="js-filterable-field js-navigation-enable" placeholder="Filter milestones">
                          </div>
                      </div> <!-- /.select-menu-filters -->

                      <div class="select-menu-list" data-filterable-for="issues-list-sidebar-milestones-filter" data-filterable-type="substring">


                          <a class="select-menu-item js-navigation-open js-navigation-item  " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?milestone=none&amp;page=1&amp;state=open">
                              <span class="select-menu-item-icon octicon octicon-check"></span>
                              <span class="select-menu-item-text js-select-button-text" data-milestone="">Issues with no milestone</span>
                          </a> <!-- /.select-menu-item -->


                          <div class="select-menu-no-results js-not-filterable">Nothing to show</div>
                      </div> <!-- /.select-menu-list -->
                  </div> <!-- /.select-menu-modal -->
              </div> <!-- /.select-menu-modal-holder -->
            </div> <!-- /.select-menu -->

            <strong class="sidebar-milestone-widget-text">No milestone selected</strong>
        </div>

        <div class="rule"></div>

        <div class="js-editable-labels-container">
            <ul class="js-color-label-list filter-list color-label-list small js-editable-labels-show" data-pjax="">
                <h4>Labels</h4>
                <li>
                    <a href="@(currentUrl)&amp;labels=bug&amp;page=1&amp;state=open" class="filter-item color-label  labelstyle-fc2929 zeroed" data-label="bug" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #fc2929">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">bug</span>
                    </a>
                </li>
                <li>
                    <a href="@(currentUrl)&amp;labels=duplicate&amp;page=1&amp;state=open" class="filter-item color-label  labelstyle-cccccc zeroed" data-label="duplicate" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #cccccc">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">duplicate</span>
                    </a>
                </li>
                <li>
                    <a href="@(currentUrl)&amp;labels=enhancement&amp;page=1&amp;state=open" class="filter-item color-label  labelstyle-84b6eb zeroed" data-label="enhancement" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #84b6eb">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">enhancement</span>
                    </a>
                </li>
                <li>
                    <a href="@(currentUrl)&amp;labels=invalid&amp;page=1&amp;state=open" class="filter-item color-label  labelstyle-e6e6e6 zeroed" data-label="invalid" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #e6e6e6">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">invalid</span>
                    </a>
                </li>
                <li>
                    <a href="@(currentUrl)&amp;labels=question&amp;page=1&amp;state=open" class="filter-item color-label  labelstyle-cc317c zeroed" data-label="question" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #cc317c">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">question</span>
                    </a>
                </li>
                <li>
                    <a href="@(currentUrl)&amp;labels=wontfix&amp;page=1&amp;state=open" class="filter-item color-label  labelstyle-ffffff zeroed" data-label="wontfix" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #ffffff">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">wontfix</span>
                    </a>
                </li>
            </ul>

            <div class="js-editable-labels-edit hidden">
                <h4>Edit Labels</h4>
                <ul class="js-color-label-list filter-list color-label-list small editable">
                    <li class="color-label zeroed labelstyle-fc2929 js-menu-container js-editable-label">
                        <div class="filter-item js-menu-target">
                            <span class="color" style="background-color: #fc2929"><a href="#">&nbsp;</a></span>
                            <span class="delete"><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels/78815329" class="js-color-label-delete" data-remote="" data-method="delete"><span class="octicon octicon-remove-close"></span></a></span>
                            <span class="name "><a href="#rename">bug</a></span>
                        </div>

                        <div class="edit-color-label-form js-menu-content js-label-editor">
                            <form accept-charset="UTF-8" action="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels/bug" class="edit_label" id="edit_label_78815329" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>
                                <div class="fieldWithErrors">
                                    <input class="name-input" id="label_name" name="label[name]" size="30" type="text" value="bug">
                                </div>
                                <ul class="color-chooser js-color-chooser">
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-e11d21" style="background-color: #e11d21 !important;" data-hex-color="e11d21">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-eb6420" style="background-color: #eb6420 !important;" data-hex-color="eb6420">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-fbca04" style="background-color: #fbca04 !important;" data-hex-color="fbca04">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-009800" style="background-color: #009800 !important;" data-hex-color="009800">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-006b75" style="background-color: #006b75 !important;" data-hex-color="006b75">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-207de5" style="background-color: #207de5 !important;" data-hex-color="207de5">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-0052cc" style="background-color: #0052cc !important;" data-hex-color="0052cc">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-5319e7" style="background-color: #5319e7 !important;" data-hex-color="5319e7">
                                        </span>
                                    </li>
                                </ul>


                                <ul class="color-chooser js-color-chooser">
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-f7c6c7" style="background-color: #f7c6c7 !important;" data-hex-color="f7c6c7">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-fad8c7" style="background-color: #fad8c7 !important;" data-hex-color="fad8c7">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-fef2c0" style="background-color: #fef2c0 !important;" data-hex-color="fef2c0">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-bfe5bf" style="background-color: #bfe5bf !important;" data-hex-color="bfe5bf">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-bfdadc" style="background-color: #bfdadc !important;" data-hex-color="bfdadc">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-c7def8" style="background-color: #c7def8 !important;" data-hex-color="c7def8">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-bfd4f2" style="background-color: #bfd4f2 !important;" data-hex-color="bfd4f2">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-d4c5f9" style="background-color: #d4c5f9 !important;" data-hex-color="d4c5f9">
                                        </span>
                                    </li>
                                </ul>


                                <div class="color-editor js-color-editor">
                                        <div class="color-editor-bg js-color-editor-bg"></div>

                                        <div class="fieldWithErrors">
                                            <input class="color-editor-input js-color-editor-input hexfield" data-original-color="#fc2929" id="/label_color" maxlength="7" name="label[color]" size="7" type="text" value="#fc2929">
                                        </div>

                                        <button type="submit" class="js-label-editor-submit minibutton">Save</button>
                                        <span class="invalid-color-indicator">?</span>
                                    </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="rule"></div>

            <a href="#" class="minibutton js-manage-labels manage-labels-toggle" id="manage-labels">Manage Labels</a>

            <div class="edit-color-label-form new-label-form js-new-label-form js-label-editor">
                <h4 class="new-label-form-title">New label</h4>

                <form accept-charset="UTF-8" action="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels" id="new_label_form" method="post">
                    <div style="margin:0;padding:0;display:inline">
                        <input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk=">
                    </div>

                    <input type="text" name="label" class="name-input js-name-input" placeholder="New label name" data-hotkey="l">
                    <ul class="color-chooser js-color-chooser">
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-e11d21" style="background-color: #e11d21 !important;" data-hex-color="e11d21">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-eb6420" style="background-color: #eb6420 !important;" data-hex-color="eb6420">
                            </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-fbca04" style="background-color: #fbca04 !important;" data-hex-color="fbca04">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-009800" style="background-color: #009800 !important;" data-hex-color="009800">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-006b75" style="background-color: #006b75 !important;" data-hex-color="006b75">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-207de5" style="background-color: #207de5 !important;" data-hex-color="207de5">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-0052cc" style="background-color: #0052cc !important;" data-hex-color="0052cc">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-5319e7" style="background-color: #5319e7 !important;" data-hex-color="5319e7">
                                </span>
                        </li>
                    </ul>


                    <ul class="color-chooser js-color-chooser">
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-f7c6c7" style="background-color: #f7c6c7 !important;" data-hex-color="f7c6c7">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-fad8c7" style="background-color: #fad8c7 !important;" data-hex-color="fad8c7">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-fef2c0" style="background-color: #fef2c0 !important;" data-hex-color="fef2c0">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-bfe5bf" style="background-color: #bfe5bf !important;" data-hex-color="bfe5bf">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-bfdadc" style="background-color: #bfdadc !important;" data-hex-color="bfdadc">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-c7def8" style="background-color: #c7def8 !important;" data-hex-color="c7def8">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-bfd4f2" style="background-color: #bfd4f2 !important;" data-hex-color="bfd4f2">
                                </span>
                        </li>
                        <li>
                                <span class="color-cooser-color js-color-cooser-color labelstyle-d4c5f9" style="background-color: #d4c5f9 !important;" data-hex-color="d4c5f9">
                                </span>
                        </li>
                    </ul>


                    <div class="color-editor js-color-editor">
                        <div class="color-editor-bg js-color-editor-bg"></div>

                        <div class="fieldWithErrors">
                            <input class="color-editor-input js-color-editor-input hexfield" data-original-color="#fc2929" id="label_color" maxlength="7" name="label[color]" size="7" type="text" value="#fc2929">
                        </div>

                        <button type="submit" class="js-label-editor-submit minibutton">Save</button>
                        <span class="invalid-color-indicator">?</span>
                    </div>
                </form>
            </div>
        </div>


    </div>

    <!-- /.new-label -->
    <div class="column main">
        <div class="issues-list-options" data-pjax="">
            <div class="button-group">
                <a href="@(currentUrl)&amp;page=1&amp;state=open" class="minibutton selected">
                    0 Open
                </a>
                <a href="@(currentUrl)&amp;page=1&amp;state=closed" class="minibutton ">
                    0 Closed
                </a>
            </div>
            <div class="select-menu js-issues-sort js-menu-container js-select-menu">
                <span class="minibutton select-menu-button js-menu-target" role="button" tabindex="0" aria-haspopup="true">
                  <i>Sort:</i>
                  <span class="js-select-button">Newest</span>
                </span>

                <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                    <div class="select-menu-modal">
                        <div class="select-menu-header">
                            <span class="select-menu-title">Sort options</span>
                            <span class="octicon octicon-remove-close js-menu-close"></span>
                        </div> <!-- /.select-menu-header -->

                        <div class="select-menu-list">
                            <a class="select-menu-item js-navigation-open js-navigation-item selected" href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=desc&amp;page=1&amp;sort=created&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Newest</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=asc&amp;page=1&amp;sort=created&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Oldest</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=desc&amp;page=1&amp;sort=updated&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Recently updated</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=asc&amp;page=1&amp;sort=updated&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Least recently updated</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=desc&amp;page=1&amp;sort=comments&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Most commented</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=asc&amp;page=1&amp;sort=comments&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Least commented</span>
                            </a> <!-- /.select-menu-list -->
                        </div>

                    </div> <!-- /.select-menu-modal -->
                </div> <!-- /.select-menu-modal-holder -->
            </div> <!-- /.select-menu -->

        </div>
        <div class="chromed-list-browser issues">
            <div class="issues issues-list js-issues-list js-navigation-container js-active-navigation-container js-form-issues js-selectable-issues">
                <div class="context-loader">Sending Request…</div>

                @if(issues.size == 0) {
                    <div class="none">
                        <p>
                            No issues to show.
                            <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/new">Create a new issue.</a>
                        </p>
                    </div>
                } else {
                <ul class="list-group issue-list-group">
                    @issues.zipWithIndex.map { case (issue, i) =>
                    <li id="issue_26959" class="list-group-item issue-list-item js-list-browser-item js-navigation-item read">
                        <div class="issue-item-unread"></div>
                        <h4 class="list-group-item-name">
                            <span class="type-icon octicon octicon-issue-opened open" title="Open issue"></span>
                            <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/26959" class="js-navigation-open">@issue.content</a>
                        </h4>
                        <ul class="list-group-item-meta">
                            <li>
                                Opened by <a href="/@issue.openedUserName">@issue.openedUserName</a>
                                <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="@issue.updatedDate" title="@issue.updatedDate">3 hours ago</time>
                            </li>
                        </ul>

                    </li>
                    }
                </ul>
                }
            </div>
        </div>
    </div>
</div><!-- /.js-editable-labels-container -->
}
