@(baseUrl: String, currentUrl: String, repositoryInfo: RepositoryService.RepositoryInfo, issues: List[(Issue, List[Label])], labels: List[Label], selectIndex: Int, user: Option[User] = None, currentLabels: String = "", condition: IssuesService.IssueSearchCondition)
@import helper._
@views.html.helper.main(baseUrl, repositoryInfo, user, true, 1){
<div class="tabnav tabnav-issues">
    <div class="tabnav-right">
        <div class="tabnav-widget ">
            <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/new" class="button minibutton primary bigger js-new-issue-button" data-hotkey="c">New Issue</a>
        </div>
    </div>

    <ul class="tabnav-tabs">
        <li><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues" class="tabnav-tab selected">Browse Issues</a></li>
        <li><a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/milestones" class="tabnav-tab ">Milestones</a></li>
    </ul>
</div>
<div id="issues_list" class="js-issues-results columns browser" data-pjax-container="" data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues">

<style type="text/css" media="screen">
    span.labelstyle-e11d21, .linked-labelstyle-e11d21 {  background-color: #e11d21 !important;  color: #fff !important;}.labelstyle-e11d21.selected {  background-color: #e11d21 !important;  color: #fff !important;}.label-select-menu .labelstyle-e11d21.selected {  background:rgba(225, 29, 33, 0.12) !important;  color: #991316 !important;}

    span.labelstyle-eb6420, .linked-labelstyle-eb6420 {  background-color: #eb6420 !important;  color: #fff !important;}.labelstyle-eb6420.selected {  background-color: #eb6420 !important;  color: #fff !important;}.label-select-menu .labelstyle-eb6420.selected {  background:rgba(235, 100, 32, 0.12) !important;  color: #994114 !important;}

    span.labelstyle-fbca04, .linked-labelstyle-fbca04 {  background-color: #fbca04 !important;  color: #332900 !important;}.labelstyle-fbca04.selected {  background-color: #fbca04 !important;  color: #332900 !important;}.label-select-menu .labelstyle-fbca04.selected {  background:rgba(251, 202, 4, 0.12) !important;  color: #997b02 !important;}

    span.labelstyle-009800, .linked-labelstyle-009800 {  background-color: #009800 !important;  color: #fff !important;}.labelstyle-009800.selected {  background-color: #009800 !important;  color: #fff !important;}.label-select-menu .labelstyle-009800.selected {  background:rgba(0, 152, 0, 0.12) !important;  color: #009900 !important;}

    span.labelstyle-006b75, .linked-labelstyle-006b75 {  background-color: #006b75 !important;  color: #fff !important;}.labelstyle-006b75.selected {  background-color: #006b75 !important;  color: #fff !important;}.label-select-menu .labelstyle-006b75.selected {  background:rgba(0, 107, 117, 0.12) !important;  color: #008b99 !important;}

    span.labelstyle-207de5, .linked-labelstyle-207de5 {  background-color: #207de5 !important;  color: #fff !important;}.labelstyle-207de5.selected {  background-color: #207de5 !important;  color: #fff !important;}.label-select-menu .labelstyle-207de5.selected {  background:rgba(32, 125, 229, 0.12) !important;  color: #155399 !important;}

    span.labelstyle-0052cc, .linked-labelstyle-0052cc {  background-color: #0052cc !important;  color: #fff !important;}.labelstyle-0052cc.selected {  background-color: #0052cc !important;  color: #fff !important;}.label-select-menu .labelstyle-0052cc.selected {  background:rgba(0, 82, 204, 0.12) !important;  color: #003d99 !important;}

    span.labelstyle-5319e7, .linked-labelstyle-5319e7 {  background-color: #5319e7 !important;  color: #fff !important;}.labelstyle-5319e7.selected {  background-color: #5319e7 !important;  color: #fff !important;}.label-select-menu .labelstyle-5319e7.selected {  background:rgba(83, 25, 231, 0.12) !important;  color: #361099 !important;}

    span.labelstyle-f7c6c7, .linked-labelstyle-f7c6c7 {  background-color: #f7c6c7 !important;  color: #332829 !important;}.labelstyle-f7c6c7.selected {  background-color: #f7c6c7 !important;  color: #332829 !important;}.label-select-menu .labelstyle-f7c6c7.selected {  background:rgba(247, 198, 199, 0.12) !important;  color: #997a7b !important;}

    span.labelstyle-fad8c7, .linked-labelstyle-fad8c7 {  background-color: #fad8c7 !important;  color: #332c28 !important;}.labelstyle-fad8c7.selected {  background-color: #fad8c7 !important;  color: #332c28 !important;}.label-select-menu .labelstyle-fad8c7.selected {  background:rgba(250, 216, 199, 0.12) !important;  color: #988479 !important;}

    span.labelstyle-fef2c0, .linked-labelstyle-fef2c0 {  background-color: #fef2c0 !important;  color: #333026 !important;}.labelstyle-fef2c0.selected {  background-color: #fef2c0 !important;  color: #333026 !important;}.label-select-menu .labelstyle-fef2c0.selected {  background:rgba(254, 242, 192, 0.12) !important;  color: #989173 !important;}

    span.labelstyle-bfe5bf, .linked-labelstyle-bfe5bf {  background-color: #bfe5bf !important;  color: #2a332a !important;}.labelstyle-bfe5bf.selected {  background-color: #bfe5bf !important;  color: #2a332a !important;}.label-select-menu .labelstyle-bfe5bf.selected {  background:rgba(191, 229, 191, 0.12) !important;  color: #7f997f !important;}

    span.labelstyle-bfdadc, .linked-labelstyle-bfdadc {  background-color: #bfdadc !important;  color: #2c3233 !important;}.labelstyle-bfdadc.selected {  background-color: #bfdadc !important;  color: #2c3233 !important;}.label-select-menu .labelstyle-bfdadc.selected {  background:rgba(191, 218, 220, 0.12) !important;  color: #849799 !important;}

    span.labelstyle-c7def8, .linked-labelstyle-c7def8 {  background-color: #c7def8 !important;  color: #282d33 !important;}.labelstyle-c7def8.selected {  background-color: #c7def8 !important;  color: #282d33 !important;}.label-select-menu .labelstyle-c7def8.selected {  background:rgba(199, 222, 248, 0.12) !important;  color: #7a8898 !important;}

    span.labelstyle-bfd4f2, .linked-labelstyle-bfd4f2 {  background-color: #bfd4f2 !important;  color: #282c33 !important;}.labelstyle-bfd4f2.selected {  background-color: #bfd4f2 !important;  color: #282c33 !important;}.label-select-menu .labelstyle-bfd4f2.selected {  background:rgba(191, 212, 242, 0.12) !important;  color: #788699 !important;}

    span.labelstyle-d4c5f9, .linked-labelstyle-d4c5f9 {  background-color: #d4c5f9 !important;  color: #2b2833 !important;}.labelstyle-d4c5f9.selected {  background-color: #d4c5f9 !important;  color: #2b2833 !important;}.label-select-menu .labelstyle-d4c5f9.selected {  background:rgba(212, 197, 249, 0.12) !important;  color: #827999 !important;}

    span.labelstyle-fc2929, .linked-labelstyle-fc2929 {  background-color: #fc2929 !important;  color: #fff !important;}.labelstyle-fc2929.selected {  background-color: #fc2929 !important;  color: #fff !important;}.label-select-menu .labelstyle-fc2929.selected {  background:rgba(252, 41, 41, 0.12) !important;  color: #991818 !important;}

    span.labelstyle-cccccc, .linked-labelstyle-cccccc {  background-color: #cccccc !important;  color: #333333 !important;}.labelstyle-cccccc.selected {  background-color: #cccccc !important;  color: #333333 !important;}.label-select-menu .labelstyle-cccccc.selected {  background:rgba(204, 204, 204, 0.12) !important;  color: #999999 !important;}

    span.labelstyle-84b6eb, .linked-labelstyle-84b6eb {  background-color: #84b6eb !important;  color: #1c2733 !important;}.labelstyle-84b6eb.selected {  background-color: #84b6eb !important;  color: #1c2733 !important;}.label-select-menu .labelstyle-84b6eb.selected {  background:rgba(132, 182, 235, 0.12) !important;  color: #557699 !important;}

    span.labelstyle-e6e6e6, .linked-labelstyle-e6e6e6 {  background-color: #e6e6e6 !important;  color: #333333 !important;}.labelstyle-e6e6e6.selected {  background-color: #e6e6e6 !important;  color: #333333 !important;}.label-select-menu .labelstyle-e6e6e6.selected {  background:rgba(230, 230, 230, 0.12) !important;  color: #999999 !important;}

    span.labelstyle-cc317c, .linked-labelstyle-cc317c {  background-color: #cc317c !important;  color: #fff !important;}.labelstyle-cc317c.selected {  background-color: #cc317c !important;  color: #fff !important;}.label-select-menu .labelstyle-cc317c.selected {  background:rgba(204, 49, 124, 0.12) !important;  color: #99245c !important;}

    span.labelstyle-ffffff, .linked-labelstyle-ffffff {  background-color: #ffffff !important;  color: #333333 !important;}.labelstyle-ffffff.selected {  background-color: #ffffff !important;  color: #333333 !important;}.label-select-menu .labelstyle-ffffff.selected {  background:rgba(255, 255, 255, 0.12) !important;  color: #999999 !important;}
</style>
    <div class="column sidebar issues-list-sidebar js-issue-sidebar">
        <ul class="filter-list js-pjax-active" data-pjax="">
            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues@condition.toURL" class="filter-item @if(!condition.createBy.isDefined && !condition.assigned.isDefined ){ selected }">
                    <span class="count">0</span> Everyone’s Issues
                </a>
            </li>
            @user.map { user =>
            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/assigned/@user.userName@condition.toURL" class="filter-item @if(condition.assigned.isDefined ){ selected }">
                    <span class="count">0</span> Assigned to you
                </a>
            </li>

            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/created_by/@user.userName@condition.toURL" class="filter-item @if(condition.createBy.isDefined){ selected }">
                    <span class="count">0</span> Created by you
                </a>
            </li>
            }
            <!--
            <li>
                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/mentioned/@repositoryInfo.owner?state=open" class="filter-item @if(selectIndex == 3){ selected }">
                    <span class="count">0</span> Mentioning you
                </a>
            </li>
            -->
        </ul>

        <div class="rule"></div>

        <div class="sidebar-milestone-widget" data-milestone="">
            <div class="select-menu is-showing-clear-item js-menu-container js-select-menu">
              <span class="minibutton select-menu-button icon-only js-menu-target">
                <span class="octicon octicon-gear"></span>
              </span>

              <div class="select-menu-modal-holder js-menu-content js-milestone-issue-filter js-navigation-container js-select-menu-pane" data-pjax="">
                  <div class="select-menu-modal">
                      <div class="select-menu-header">
                          <span class="select-menu-title">Filter issues by milestone</span>
                          <span class="octicon octicon-remove-close js-menu-close"></span>
                      </div> <!-- /.select-menu-header -->

                      <div class="select-menu-filters">
                          <div class="select-menu-text-filter">
                              <input type="text" id="issues-list-sidebar-milestones-filter" class="js-filterable-field js-navigation-enable" placeholder="Filter milestones">
                          </div>
                      </div> <!-- /.select-menu-filters -->

                      <div class="select-menu-list" data-filterable-for="issues-list-sidebar-milestones-filter" data-filterable-type="substring">


                          <a class="select-menu-item js-navigation-open js-navigation-item  " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?milestone=none&amp;page=1&amp;state=open">
                              <span class="select-menu-item-icon octicon octicon-check"></span>
                              <span class="select-menu-item-text js-select-button-text" data-milestone="">Issues with no milestone</span>
                          </a> <!-- /.select-menu-item -->


                          <div class="select-menu-no-results js-not-filterable">Nothing to show</div>
                      </div> <!-- /.select-menu-list -->
                  </div> <!-- /.select-menu-modal -->
              </div> <!-- /.select-menu-modal-holder -->
            </div> <!-- /.select-menu -->

            <strong class="sidebar-milestone-widget-text">No milestone selected</strong>
        </div>

        <div class="rule"></div>

        <div class="js-editable-labels-container">
            <ul class="js-color-label-list filter-list color-label-list small js-editable-labels-show" data-pjax="">
                <h4>Labels</h4>
                @labels.map { label =>
                <li>
                    <a href="@condition.copy(labels = (if(condition.labels.contains(label.labelName)) condition.labels - label.labelName else condition.labels + label.labelName)).toURL"
                       class="filter-item color-label  labelstyle-@label.color zeroed  @if(condition.labels.contains(label.labelName)){ selected }" data-label="bug" rel="nofollow">
                        <span class="count">0</span>
                        <span class="color" style="background-color: #@label.color">&nbsp;</span>
                        <span class="octicon octicon-remove-close"></span>
                        <span class="name">@label.labelName</span>
                    </a>
                </li>
                }
            </ul>

            <div class="js-editable-labels-edit hidden">
                <h4>Edit Labels</h4>
                <ul class="js-color-label-list filter-list color-label-list small editable">
                    @labels.map { label =>
                    <li class="color-label zeroed labelstyle-@label.color js-menu-container js-editable-label" data-toggle="editor">
                        <div class="filter-item js-menu-target">
                            <span class="color" style="background-color: #@label.color "><a href="#">&nbsp;</a></span>
                            <span class="delete">
                                <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels/@label.labelName" class="js-color-label-delete btn" data-toggle="remote" data-method="delete">
                                    <span class="octicon octicon-remove-close"></span>
                                </a>
                            </span>
                            <span class="name">@label.labelName</span>
                        </div>

                        <div class="edit-color-label-form js-menu-content js-label-editor">
                            <form accept-charset="UTF-8" action="/@repositoryInfo.owner/@repositoryInfo.name/issues/labels/@label.labelName" class="edit_label" id="edit_label_78815329" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>
                                <div class="fieldWithErrors">
                                    <input class="name-input" id="label_name" name="name" size="30" type="text" value="@label.labelName">
                                </div>
                                <ul class="color-chooser js-color-chooser">
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-e11d21" style="background-color: #e11d21 !important;" data-hex-color="e11d21">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-eb6420" style="background-color: #eb6420 !important;" data-hex-color="eb6420">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-fbca04" style="background-color: #fbca04 !important;" data-hex-color="fbca04">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-009800" style="background-color: #009800 !important;" data-hex-color="009800">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-006b75" style="background-color: #006b75 !important;" data-hex-color="006b75">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-207de5" style="background-color: #207de5 !important;" data-hex-color="207de5">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-0052cc" style="background-color: #0052cc !important;" data-hex-color="0052cc">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-5319e7" style="background-color: #5319e7 !important;" data-hex-color="5319e7">
                                        </span>
                                    </li>
                                </ul>


                                <ul class="color-chooser js-color-chooser">
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-f7c6c7" style="background-color: #f7c6c7 !important;" data-hex-color="f7c6c7">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-fad8c7" style="background-color: #fad8c7 !important;" data-hex-color="fad8c7">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-fef2c0" style="background-color: #fef2c0 !important;" data-hex-color="fef2c0">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-bfe5bf" style="background-color: #bfe5bf !important;" data-hex-color="bfe5bf">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-bfdadc" style="background-color: #bfdadc !important;" data-hex-color="bfdadc">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-c7def8" style="background-color: #c7def8 !important;" data-hex-color="c7def8">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-bfd4f2" style="background-color: #bfd4f2 !important;" data-hex-color="bfd4f2">
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-cooser-color js-color-cooser-color labelstyle-d4c5f9" style="background-color: #d4c5f9 !important;" data-hex-color="d4c5f9">
                                        </span>
                                    </li>
                                </ul>


                                <div class="color-editor js-color-editor">
                                        <div class="color-editor-bg js-color-editor-bg"></div>

                                        <div class="fieldWithErrors">
                                            <input class="color-editor-input js-color-editor-input hexfield" style="color: #@label.color;  border-color: #@label.color" data-original-color="#@label.color" id="/label_color" maxlength="7" name="color" size="7" type="text" value="#@label.color">
                                        </div>

                                        <button type="submit" class="js-label-editor-submit minibutton">Save</button>
                                        <span class="invalid-color-indicator">?</span>
                                    </div>
                            </form>
                        </div>
                    </li>
                    }
                </ul>
            </div>

            <div class="rule"></div>

            <a href="#" class="btn minibutton js-manage-labels manage-labels-toggle" data-toggle="button" id="manage-labels">Manage Labels</a>

            <div class="edit-color-label-form new-label-form js-new-label-form js-label-editor" data-toggle="editor">
                <h4 class="new-label-form-title">New label</h4>

                @helper.form(action = routes.LabelsController.doCreate(repositoryInfo.owner, repositoryInfo.name), 'id -> "new_label_form", 'class -> "edit-color-label-form new-label-form js-new-label-form js-label-editor" ) {
                    <div style="margin:0;padding:0;display:inline">
                        <input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk=">
                    </div>

                    <input type="text" name="name" class="name-input js-name-input" placeholder="New label name" data-hotkey="l">
                    <ul class="color-chooser js-color-chooser">
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-e11d21" style="background-color: #e11d21 !important;" data-hex-color="e11d21">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-eb6420" style="background-color: #eb6420 !important;" data-hex-color="eb6420">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-fbca04" style="background-color: #fbca04 !important;" data-hex-color="fbca04">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-009800" style="background-color: #009800 !important;" data-hex-color="009800">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-006b75" style="background-color: #006b75 !important;" data-hex-color="006b75">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-207de5" style="background-color: #207de5 !important;" data-hex-color="207de5">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-0052cc" style="background-color: #0052cc !important;" data-hex-color="0052cc">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-5319e7" style="background-color: #5319e7 !important;" data-hex-color="5319e7">
                            </span>
                        </li>
                    </ul>


                    <ul class="color-chooser js-color-chooser">
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-f7c6c7" style="background-color: #f7c6c7 !important;" data-hex-color="f7c6c7">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-fad8c7" style="background-color: #fad8c7 !important;" data-hex-color="fad8c7">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-fef2c0" style="background-color: #fef2c0 !important;" data-hex-color="fef2c0">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-bfe5bf" style="background-color: #bfe5bf !important;" data-hex-color="bfe5bf">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-bfdadc" style="background-color: #bfdadc !important;" data-hex-color="bfdadc">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-c7def8" style="background-color: #c7def8 !important;" data-hex-color="c7def8">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-bfd4f2" style="background-color: #bfd4f2 !important;" data-hex-color="bfd4f2">
                            </span>
                        </li>
                        <li>
                            <span class="color-cooser-color js-color-cooser-color labelstyle-d4c5f9" style="background-color: #d4c5f9 !important;" data-hex-color="d4c5f9">
                            </span>
                        </li>
                    </ul>


                    <div class="color-editor js-color-editor">
                        <div class="color-editor-bg js-color-editor-bg"></div>

                        <div class="fieldWithErrors">
                            <input class="color-editor-input js-color-editor-input hexfield" data-original-color="#fc2929" id="label_color" maxlength="7" name="color" size="7" type="text" value="#fc2929">
                        </div>

                        <button type="submit" class="js-label-editor-submit minibutton">Create</button>
                        <span class="invalid-color-indicator">?</span>
                    </div>
                }
            </div>
        </div>


    </div>

    <!-- /.new-label -->
    <div class="column main">
        <div class="issues-list-options" data-pjax="">
            <div class="button-group">
                <a href="@condition.copy(state = "open").toURL" class="minibutton @if(condition.state == "open") {selected}">
                    0 Open
                </a>
                <a href="@condition.copy(state = "closed").toURL" class="minibutton @if(condition.state == "closed") {selected}">
                    0 Closed
                </a>
            </div>
            <div class="select-menu js-issues-sort js-menu-container js-select-menu">
                <span class="minibutton select-menu-button js-menu-target" role="button" tabindex="0" aria-haspopup="true">
                  <i>Sort:</i>
                  <span class="js-select-button">Newest</span>
                </span>

                <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                    <div class="select-menu-modal">
                        <div class="select-menu-header">
                            <span class="select-menu-title">Sort options</span>
                            <span class="octicon octicon-remove-close js-menu-close"></span>
                        </div> <!-- /.select-menu-header -->

                        <div class="select-menu-list">
                            <a class="select-menu-item js-navigation-open js-navigation-item selected" href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=desc&amp;page=1&amp;sort=created&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Newest</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=asc&amp;page=1&amp;sort=created&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Oldest</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=desc&amp;page=1&amp;sort=updated&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Recently updated</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=asc&amp;page=1&amp;sort=updated&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Least recently updated</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=desc&amp;page=1&amp;sort=comments&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Most commented</span>
                            </a> <!-- /.select-menu-list -->
                            <a class="select-menu-item js-navigation-open js-navigation-item " href="/@repositoryInfo.owner/@repositoryInfo.name/issues?direction=asc&amp;page=1&amp;sort=comments&amp;state=open">
                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                <span class="select-menu-item-text js-select-button-text">Least commented</span>
                            </a> <!-- /.select-menu-list -->
                        </div>

                    </div> <!-- /.select-menu-modal -->
                </div> <!-- /.select-menu-modal-holder -->
            </div> <!-- /.select-menu -->

        </div>
        <div class="chromed-list-browser issues">
            <div class="issues issues-list js-issues-list js-navigation-container js-active-navigation-container js-form-issues js-selectable-issues">
                <div class="context-loader">Sending Request…</div>

                @if(issues.size == 0) {
                    <div class="none">
                        <p>
                            No issues to show.
                            <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/new">Create a new issue.</a>
                        </p>
                    </div>
                } else {
                <ul class="list-group issue-list-group">
                    <li class="list-group-item issues-list-actions">
                        <div class="js-buttons button-wrap">
                        <label class="select-all">
                            <input type="checkbox" class="js-issues-list-select-all">
                        </label>
                        @if(condition.state == "open") {
                            <a href="#" class="button minibutton js-issues-list-close js-mass-assign-button disabled" data-hotkey="e" data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/close">Close</a>
                        } else {
                            <a href="#" class="button minibutton js-issues-list-close js-mass-assign-button disabled" data-hotkey="e" data-url="/@repositoryInfo.owner/@repositoryInfo.name/issues/reopen">Reopen</a>
                        }

                        <div class="select-menu label-select-menu js-issue-list-label-select-menu js-issue-mass-assign js-menu-container js-select-menu" data-multiple="">

                            <a href="#" class="button minibutton js-menu-target dropdown-button js-mass-assign-button disabled">Label</a>

                            <form accept-charset="UTF-8" action="/mqshen/gitPlay/issues/labels/modify_assignment" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>


                                <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                                    <div class="select-menu-modal">
                                        <div class="select-menu-header">
                                            <span class="select-menu-title">Apply labels to this issue</span>
                                            <span class="octicon octicon-remove-close js-menu-close"></span>
                                        </div> <!-- /.select-menu-header -->

                                        <div class="select-menu-error-shell">
                                            <span class="select-menu-error js-select-menu-error">Whoops, there was an error</span>
                                        </div>

                                        <div class="select-menu-filters">
                                            <div class="select-menu-text-filter">
                                                <input type="text" id="label-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter labels" autocomplete="off">
                                            </div>
                                        </div> <!-- /.select-menu-filters -->

                                        <div class="select-menu-list" data-filterable-for="label-filter-field" data-filterable-type="substring">

                                            <div class="select-menu-item js-navigation-item labelstyle-fc2929 ">
                                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                                <div class="select-menu-item-text">
                                                    <div class="color-label-wrapper">
                                                        <div data-name="bug" class="color-label labelstyle-fc2929">
                                                            <input style="display: none" type="checkbox" value="bug" name="labels[]">
                                                            <span class="color" style="background-color: #fc2929"></span>
                                                            <span class="name">bug</span>
                                                            <span class="octicon octicon-remove-close"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /.select-menu-item -->
                                            <div class="select-menu-item js-navigation-item labelstyle-cccccc ">
                                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                                <div class="select-menu-item-text">
                                                    <div class="color-label-wrapper">
                                                        <div data-name="duplicate" class="color-label labelstyle-cccccc">
                                                            <input style="display: none" type="checkbox" value="duplicate" name="labels[]">
                                                            <span class="color" style="background-color: #cccccc"></span>
                                                            <span class="name">duplicate</span>
                                                            <span class="octicon octicon-remove-close"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /.select-menu-item -->
                                            <div class="select-menu-item js-navigation-item labelstyle-84b6eb ">
                                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                                <div class="select-menu-item-text">
                                                    <div class="color-label-wrapper">
                                                        <div data-name="enhancement" class="color-label labelstyle-84b6eb">
                                                            <input style="display: none" type="checkbox" value="enhancement" name="labels[]">
                                                            <span class="color" style="background-color: #84b6eb"></span>
                                                            <span class="name">enhancement</span>
                                                            <span class="octicon octicon-remove-close"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /.select-menu-item -->
                                            <div class="select-menu-item js-navigation-item labelstyle-e6e6e6 ">
                                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                                <div class="select-menu-item-text">
                                                    <div class="color-label-wrapper">
                                                        <div data-name="invalid" class="color-label labelstyle-e6e6e6">
                                                            <input style="display: none" type="checkbox" value="invalid" name="labels[]">
                                                            <span class="color" style="background-color: #e6e6e6"></span>
                                                            <span class="name">invalid</span>
                                                            <span class="octicon octicon-remove-close"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /.select-menu-item -->
                                            <div class="select-menu-item js-navigation-item labelstyle-cc317c ">
                                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                                <div class="select-menu-item-text">
                                                    <div class="color-label-wrapper">
                                                        <div data-name="question" class="color-label labelstyle-cc317c">
                                                            <input style="display: none" type="checkbox" value="question" name="labels[]">
                                                            <span class="color" style="background-color: #cc317c"></span>
                                                            <span class="name">question</span>
                                                            <span class="octicon octicon-remove-close"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /.select-menu-item -->
                                            <div class="select-menu-item js-navigation-item labelstyle-009800 ">
                                                <span class="select-menu-item-icon octicon octicon-check"></span>
                                                <div class="select-menu-item-text">
                                                    <div class="color-label-wrapper">
                                                        <div data-name="rrrrrr" class="color-label labelstyle-009800">
                                                            <input style="display: none" type="checkbox" value="rrrrrr" name="labels[]">
                                                            <span class="color" style="background-color: #009800"></span>
                                                            <span class="name">rrrrrr</span>
                                                            <span class="octicon octicon-remove-close"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /.select-menu-item -->

                                        </div> <!-- /.select-menu-list -->

                                        <div class="select-menu-no-results js-not-filterable">Nothing to show</div>

                                        <div class="select-menu-footer">
                                            <a href="#" class="minibutton primary js-apply-labels">Apply</a>
                                            <a href="#" class="minibutton primary js-remove-labels">Remove</a>
                                        </div> <!-- /.select-menu-footer -->

                                        <div class="select-menu-loading-overlay">Loading…</div>
                                    </div> <!-- /.select-menu-modal -->
                                </div> <!-- /.select-menu-modal-holder -->

                            </form>
                        </div>

                        <div class="select-menu js-menu-container js-select-menu js-assignee-picker js-issue-mass-assign is-showing-clear-item">
                            <a href="#" class="button minibutton js-menu-target dropdown-button js-mass-assign-button disabled">Assignee</a>

                            <div class="select-menu-modal-holder js-menu-content js-navigation-container">

                                <div class="select-menu-modal">
                                    <div class="select-menu-header">
                                        <span class="select-menu-title">Assign someone to this issue</span>
                                        <span class="octicon octicon-remove-close js-menu-close"></span>
                                    </div> <!-- /.select-menu-header -->

                                    <div class="select-menu-error-shell"><span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span></div>

                                    <div class="select-menu-filters">
                                        <div class="select-menu-text-filter">
                                            <input type="text" id="assignee-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter people">
                                        </div>
                                    </div> <!-- /.select-menu-filters -->

                                    <form accept-charset="UTF-8" action="/mqshen/gitPlay/issues/assign" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>

                                        <div class="select-menu-list">

                                            <div class="select-menu-clear-item select-menu-item js-navigation-item js-clear-assignee js-no-current-assignee">
                                                <input name="[assignee]" type="radio" value="">
                                                <span class="select-menu-item-icon octicon octicon-remove-close"></span>
                                                <div class="select-menu-item-text">Clear assignee</div>
                                            </div> <!-- /.select-menu-item -->

                                            <div data-filterable-for="assignee-filter-field" data-filterable-type="fuzzy">
                                                <div class="select-menu-item js-navigation-item">
                                                    <input name="[assignee]" type="radio" value="mqshen">
                                                    <span class="select-menu-item-icon octicon octicon-check"></span>
                                                    <div class="select-menu-item-gravatar js-select-menu-item-gravatar">
                                                        <img alt="miaoqi shen" class=" js-avatar" data-user="687580" height="30" src="https://avatars.githubusercontent.com/u/687580" width="30">
                                                    </div>
                                                    <div class="select-menu-item-text">
                                                        <h4>mqshen <span class="description">miaoqi shen</span></h4>
                                                    </div>
                                                </div> <!-- /.select-menu-item -->
                                            </div>
                                        </div> <!-- /.select-menu-list -->
                                    </form>
                                    <div class="select-menu-loading-overlay">Loading…</div>

                                </div> <!-- /.select-menu-modal -->
                            </div> <!-- /.select-menu-modal-holder -->
                        </div> <!-- /.select-menu -->

                        <div class="select-menu js-menu-container js-select-menu js-milestone-picker js-issue-mass-assign is-showing-clear-item">
                            <a href="#" class="button minibutton js-menu-target dropdown-button js-mass-assign-button disabled">Milestone</a>

                            <!--
                            <span class="minibutton select-menu-button js-menu-target">
                              <span class="js-select-button">Milestone</span>
                            </span>
                            -->
                            <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                                <div class="select-menu-modal">
                                    <div class="select-menu-header">
                                        <span class="select-menu-title">Set milestone</span>
                                        <span class="octicon octicon-remove-close js-menu-close"></span>
                                    </div> <!-- /.select-menu-header -->

                                    <form accept-charset="UTF-8" action="/mqshen/gitPlay/issues/milestone" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="yqV6qFy1mJP+lu4l+hKEW6l8I+Q9cd4wEfig1YS1hWk="></div>
                                        <div class="js-milestone-picker-body">


                                            <div class="select-menu-error-shell"><span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span></div>

                                            <div class="select-menu-filters">
                                                <div class="select-menu-text-filter">
                                                    <input type="text" id="context-milestone-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter milestones" autocomplete="off">
                                                </div>
                                                <div class="select-menu-tabs">
                                                    <ul>
                                                        <li class="select-menu-tab">
                                                            <a href="#" data-tab-filter="tab-open" class="js-select-menu-tab">Open</a>
                                                        </li>
                                                        <li class="select-menu-tab">
                                                            <a href="#" data-tab-filter="tab-closed" class="js-select-menu-tab">Closed</a>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.select-menu-tabs -->
                                            </div><!-- /.select-menu-filters -->

                                            <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tab-open">

                                                <div class="select-menu-clear-item select-menu-item js-navigation-item js-clear-milestone">
                                                    <input id="milestone_clear" name="milestone" type="radio" value="clear">
                                                    <span class="select-menu-item-icon octicon octicon-remove-close"></span>
                                                    <div class="select-menu-item-text">Clear this milestone</div>
                                                </div> <!-- /.select-menu-item -->

                                                <div data-filterable-for="context-milestone-filter-field" data-filterable-type="substring" role="menu">

                                                </div>

                                                <div class="select-menu-item select-menu-new-item-form js-navigation-item js-new-item-form">
                                                    <input type="radio" name="milestone" value="new">
                                                    <input type="hidden" class="js-new-item-value" name="milestone_title">

                                                    <span class="octicon octicon-milestone select-menu-item-icon"></span>
                                                    <div class="select-menu-item-text">
                                                        <h4>Create and assign to new milestone:</h4>
                                                        <span class="description js-new-item-name js-milestone-title"></span>
                                                    </div>
                                                </div>

                                                <div class="select-menu-no-results">Nothing to show</div>
                                            </div> <!-- /.select-menu-list -->

                                            <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tab-closed">

                                                <div data-filterable-for="context-milestone-filter-field" data-filterable-type="substring" role="menu">

                                                </div>

                                                <div class="select-menu-no-results">Nothing to show</div>
                                            </div> <!-- /.select-menu-list -->

                                        </div>
                                    </form>
                                </div> <!-- /.select-menu-modal -->
                            </div> <!-- /.select-menu-modal-holder -->
                        </div> <!-- /.select-menu -->
                        </div>
                    </li>
                    @issues.zipWithIndex.map { case ((issue, currentLabels), i) =>
                    <li id="issue_26959" class="list-group-item issue-list-item js-list-browser-item js-navigation-item read selectable">
                        <div class="issue-item-unread"></div>
                        <input type="checkbox" class="list-group-item-check js-issues-list-checkbox select-toggle-check" name="issues[]" value="@issue.issueId">
                        <h4 class="list-group-item-name">
                            @if(issue.closed) {
                                <span class="type-icon octicon octicon-issue-closed closed" title="Closed issue"></span>
                            } else {
                                <span class="type-icon octicon octicon-issue-opened open" title="Open issue"></span>
                            }
                            <a href="/@repositoryInfo.owner/@repositoryInfo.name/issues/@issue.issueId" class="js-navigation-open">@issue.title</a>
                            <span class="labels">
                                @currentLabels.map { label =>
                                    <span class="label labelstyle-@label.color lighter" data-name="@label.labelName">@label.labelName</span>
                                }
                            </span>
                        </h4>
                        <ul class="list-group-item-meta">
                            <li>
                                @if(issue.closed) { Closed } else { Opened }by <a href="/@issue.openedUserName">@issue.openedUserName</a>
                                <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="@issue.updatedDate" title="@issue.updatedDate">3 hours ago</time>
                            </li>
                        </ul>

                    </li>
                    }
                </ul>
                }
            </div>
        </div>
    </div>
</div><!-- /.js-editable-labels-container -->
}
