@(baseUrl: String, commitId: String, commitInfo: JGitUtil.CommitInfo, branches: List[String], tags: List[String], repositoryInfo: RepositoryService.RepositoryInfo, diffs: Seq[JGitUtil.DiffInfo], oldCommitId: Option[String], user: Option[User] = None)
@import helper._
@views.html.helper.main(baseUrl, repositoryInfo, user, false){
<script  src="@routes.Assets.at("javascripts/diffview.js")" type="text/javascript"></script>
<script  src="@routes.Assets.at("javascripts/difflib.js")" type="text/javascript"></script>
<div class="commit full-commit ">
    <a href="/@repositoryInfo.owner/@repositoryInfo.name/tree/@commitId" class="browse-button" title="Browse the code at this point in the history" rel="nofollow">Browse code</a>
    <p class="commit-title">
        @commitInfo.fullMessage
    </p>
    <div class="commit-branches">

        <span class="octicon octicon-git-branch"></span>
        <ul class="branches-list">
            <li class="branch"><a href="/@repositoryInfo.owner/@repositoryInfo.name">master</a></li>
        </ul>
    </div>
    <div class="commit-meta clearfix">
      <span class="sha-block">commit <span class="sha js-selectable-text">@commitId</span></span>
      <span class="sha-block" data-pjax="">
        @commitInfo.parents.size parent
        @if(commitInfo.parents.size == 1){
          <a href="/@repositoryInfo.owner/@repositoryInfo.name/commit/@commitInfo.parents(0)" class="sha" data-hotkey="p">ab9b807</a>
        }
      </span>
      <div class="authorship">
          <img alt="miaoqi shen" class="gravatar js-avatar" data-user="687580" height="24" src="https://1.gravatar.com/avatar/574f047760ff87f6aefebdfa40eeb07a?d=https%3A%2F%2Fidenticons.github.com%2Ffdeed6355bac156322c8b90d9e90400b.png&amp;r=x&amp;s=140" width="24">
          <span class="author-name">
              <a href="/@repositoryInfo.owner" rel="author">@repositoryInfo.owner</a>
          </span>
          authored
          <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="" title="2014-01-20 22:28:17">a month ago</time>
      </div>
    </div>
</div>

<div id="toc" class="details-collapse js-details-container ">
    <p class="explain">
        <span class="octicon octicon-diff"></span>Showing <strong>@diffs.size changed files</strong>
        with <strong>8 additions</strong>
        and <strong>6 deletions</strong>.
        <a href="#" class="minibutton show-diff-stats js-details-target">Show Diff Stats</a>
        <a href="#" class="minibutton hide-diff-stats js-details-target">Hide Diff Stats</a></p>

    <ol class="content collapse js-transitionable">
        <li>
      <span class="diffstat">
          <a href="#diff-0" class="tooltipped tooltipped-w" aria-label="5 additions &amp; 3 deletions">
              8
              <span class="diffstat-bar"> <i class="plus"></i><i class="minus"></i> </span>
          </a>
      </span>
            <span class="octicon octicon-diff-modified" title="modified"></span> <a href="#diff-0">@repositoryInfo.name/templates/feed/calendarfeed.html</a>
        </li>
        <li>
      <span class="diffstat">
          <a href="#diff-1" class="tooltipped tooltipped-w" aria-label="3 additions &amp; 3 deletions">
              6
              <span class="diffstat-bar"> <i class="plus"></i><i class="minus"></i> </span>
          </a>
      </span>
            <span class="octicon octicon-diff-modified" title="modified"></span> <a href="#diff-1">@repositoryInfo.name/templates/feed/projecteventfeed.html</a>
        </li>
    </ol>
</div>

<div id="files" class="file-box diff-view js-diff-view commentable">
    @diffs.zipWithIndex.map { case (diff, i) =>
    <div id="diff-@i" class="file js-details-container">
        <div class="meta clearfix" data-path="@repositoryInfo.name/@diff.newPath">
            <div class="info">
                <span class="diffstat tooltipped tooltipped-e" aria-label="5 additions &amp; 3 deletions">8
                    <span class="diffstat-bar"><i class="plus"></i><i class="minus"></i></span>
                </span>
                <span class="js-selectable-text css-truncate css-truncate-target" title="@repositoryInfo.name/templates/feed/calendarfeed.html">
                  @repositoryInfo.name/@diff.newPath
                </span>
            </div>
            <div class="actions">

                <span class="show-inline-notes">
                  <label>
                      <input type="checkbox" checked="checked" class="js-show-inline-comments-toggle">
                      show inline notes
                  </label>
                </span>
                <div class="button-group">
                    <a href="/@repositoryInfo.owner/@repositoryInfo.name/blob/@commitId/@repositoryInfo.name/@diff.newPath" class="minibutton tooltipped tooltipped-s" rel="nofollow" aria-label="View the whole file at version 4f48c64">View</a>
                </div>
            </div>
        </div>
        <div class="data highlight ">
            <table class="file-code file-diff  tab-size-8">
                <tbody>
                    <tr>
                        <td>
                        @if(diff.newContent != None || diff.oldContent != None){
                            <div id="diffText-@i"></div>
                            <textarea id="newText-@i" style="display: none;">@diff.newContent.getOrElse("")</textarea>
                            <textarea id="oldText-@i" style="display: none;">@diff.oldContent.getOrElse("")</textarea>
                        } else {
                            Not supported
                        }
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="data highlight " id="diff-output-@i">
        </div>
    </div>
    <script>
        $(function() {
            var base = difflib.stringAsLines($("#oldText-@i").val()),
		        newtxt = difflib.stringAsLines($("#newText-@i").val()),
		        sm = new difflib.SequenceMatcher(base, newtxt),
		        opcodes = sm.get_opcodes(),
		        diffoutputdiv = $("#diff-output-@i"),
		        contextSize = 90;

	        diffoutputdiv.empty()

	        diffoutputdiv.append(diffview.buildView({
	        	baseTextLines: base,
	        	newTextLines: newtxt,
	        	opcodes: opcodes,
	        	baseTextName: "Base Text",
	        	newTextName: "New Text",
	        	contextSize: contextSize,
	        	viewType: 1
	        }));

        })
    </script>

    }
</div>
}